{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Conditions
{% endblock %}

{% block card_button %}
    {% if perms.django_spire_metric_visual.add_visual %}
        {% url 'django_spire:metric:visual:form:create_condition' as add_condition_url %}
        <a class="btn btn-sm btn-primary" href="{{ add_condition_url }}?visual={{ visual.pk }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}

    {% if perms.django_spire_metric_visual.change_visual %}
        <form method="post" action="{% url 'django_spire:metric:visual:form:set_default_conditions' pk=visual.pk %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-primary">
                <i class="bi bi-magic"></i>
                Generate Stoplight
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if visual.conditions.all %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>State</th>
                            <th>Condition</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for condition in visual.conditions.all %}
                            <tr>
                                <td class="align-middle">{{ condition.order }}</td>
                                <td class="align-middle">
                                    <span class="badge" style="background-color: {{ condition.color }};">
                                        {{ condition.get_state_display }}
                                    </span>
                                </td>
                                <td class="align-middle">{{ condition }}</td>
                                <td class="text-end align-middle">
                                    <a class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'django_spire:metric:visual:form:update_condition' pk=condition.pk %}?return_url={% url 'django_spire:metric:visual:page:detail' pk=visual.pk %}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger"
                                       href="{% url 'django_spire:metric:visual:form:delete_condition' pk=condition.pk %}?return_url={% url 'django_spire:metric:visual:page:detail' pk=visual.pk %}">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
{% endblock %}
