{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Visual
{% endblock %}

{% block card_button %}
    {% if perms.metric_visual.change_visual %}
        {% url 'metric:visual:form:update' pk=visual.pk as visual_edit_url %}
        <a class="btn btn-sm btn-primary" href="{{ visual_edit_url }}">
            <i class="bi bi-pencil"></i>
            Edit
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <div class="attribute-label">Name</div>
                <div>{{ visual.name }}</div>
            </div>

            <div class="col-12">
                <div class="attribute-label">Description</div>
                <div>{{ visual.description|linebreaksbr }}</div>
            </div>
        </div>
    </div>
{% endblock %}
