{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Visuals
{% endblock %}

{% block card_button %}
    {% if perms.metric_visual.add_visual %}
        {% url 'metric:visual:form:create' as new_visual_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_visual_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% include 'metric/visual/table/table.html' with endpoint=visual_items_endpoint %}
    </div>
{% endblock %}
