<div class="card">
    <div class="card-body p-3">
        <div class="row pb-2">
            <div class="col">
                <span class="fs-5">Assigned Regions</span>
            </div>
            {% if perms.django_spire_metric_visual.add_visualregion %}
                <div class="col-auto">
                    {% url 'django_spire:metric:visual:form:connect_region' visual_pk=visual.pk as connect_region_url %}
                    <a class="btn btn-sm btn-primary text-white" href="{{ connect_region_url }}">
                        <i class="bi bi-link-45deg"></i>
                        Connect
                    </a>
                </div>
            {% endif %}
        </div>
        {% if visual.regions.all %}
            <div class="table-responsive">
                <table class="table table-light table-hover">
                    <thead>
                    <tr>
                        <th class="fw-medium">Key</th>
                        <th class="fw-medium">Title</th>
                        <th class="fw-medium">Update</th>
                        <th class="text-end fw-medium">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for region in visual.regions.all %}
                        <tr>
                            <td class="align-middle"><code>{{ region.key }}</code></td>
                            <td class="align-middle">{{ region.services.transformation.display_title }}</td>
                            <td class="align-middle">
                                {% if region.is_live_updated %}
                                    <span class="badge text-bg-success text-white">Live</span>
                                {% else %}
                                    <span class="badge text-bg-secondary text-white">Static</span>
                                {% endif %}
                            </td>
                            <td class="text-end align-middle">
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'django_spire:metric:visual:form:update_region' pk=region.pk %}?return_url={% url 'django_spire:metric:visual:page:detail' pk=visual.pk %}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <form method="post"
                                      action="{% url 'django_spire:metric:visual:form:disconnect_region' pk=region.pk %}?return_url={% url 'django_spire:metric:visual:page:detail' pk=visual.pk %}"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-outline-danger"
                                            title="Disconnect visual from this region">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
</div>