{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
	Comment Example
{% endblock %}

{% block card_title_content %}
	<div class="row g-3">
        <div class="col-12">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Name' attribute_value=comment_example.name %}
        </div>

        <div class="col-12">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=comment_example.description|linebreaksbr %}
        </div>
    </div>
{% endblock %}
