{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
	Comment Example
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <div class="attribute-label">Name</div>
                <div>{{ comment_example.name }}</div>
            </div>

            <div class="col-12">
                <div class="attribute-label">Description</div>
                <div>{{ comment_example.description|linebreaksbr }}</div>
            </div>
        </div>
    </div>
{% endblock %}
