<div
    class="row ms-4 knowledge-nav-item cursor-pointer"
    x-data="{
        show_menu_toggle_button: false,
        menu_button_hovered: false,
    }"
    @mouseover="show_menu_toggle_button = true"
    @mouseleave="show_menu_toggle_button = false"
>
    <a
        class="col text-decoration-none text-black"
        :href="'{% url "django_spire:knowledge:entry:version:page:detail" pk=0 %}'.replace(0, entry.version_id)"
    >
        <i class="bi bi-file-earmark-text"></i>
        <span class="fw-normal" x-text="entry.name"></span>
    </a>
    {% if AuthController.knowledge.can_view %}
        <div
            x-data="{
                hovered: false
            }"
            :class="hovered && 'text-app-accent'"
            @mouseover="hovered = true"
            @mouseleave="hovered = false"
            class="col-auto"
        >
            {% include 'django_spire/knowledge/entry/dropdown/navigation_ellipsis_dropdown.html' %}
        </div>
    {% endif %}
</div>
