:root {
    --app-primary: #0277bd;
    --app-primary-soft: #e3f2fd;
    --app-primary-dark: #01579b;

    --app-secondary: #607d8b;
    --app-secondary-soft: #eceff1;
    --app-secondary-dark: #455a64;

    --app-accent: #ff7043;
    --app-accent-soft: #fbe9e7;
    --app-accent-dark: #d84315;

    --app-success: #4caf50;
    --app-success-soft: #e8f5e8;
    --app-success-dark: #2e7d32;

    --app-warning: #ff9800;
    --app-warning-soft: #fff3e0;
    --app-warning-dark: #ef6c00;

    --app-danger: #f44336;
    --app-danger-soft: #ffebee;
    --app-danger-dark: #c62828;

    --app-layer-one: #ffffff;
    --app-layer-two: #fafafa;
    --app-layer-three: #f5f5f5;
    --app-layer-four: #e0e0e0;

    --app-alt-layer-one: #ffffff;
    --app-alt-layer-two: #fcfcfc;
    --app-alt-layer-three: #f8f8f8;
    --app-alt-layer-four: #f0f0f0;

    --app-default-attribute-title-color: #607d8b;
    --app-default-button-text-color: #ffffff;
    --app-default-text-color: #263238;
    --app-default-alt-text-color: #37474f;
    --app-default-link-color: #0277bd;
    --app-default-link-hover-color: #00acc1;

    --app-side-navigation-bg-color: #263238;
    --app-side-navigation-text-color: #ffffff;
    --app-side-navigation-link-color: #ffffff;
    --app-side-navigation-link-hover-color: #4fc3f7;

    --app-top-navigation-bg-color: #ffffff;
    --app-top-navigation-text-color: #263238;
    --app-top-navigation-link-color: #0277bd;
    --app-top-navigation-link-hover-color: #00acc1;

    --app-footer-bg-color: #fafafa;
    --app-footer-text-color: #263238;
    --app-footer-link-color: #0277bd;
    --app-footer-link-hover-color: #00acc1;

    --app-table-row-color: #ffffff;
    --app-table-row-alt-color: #fafafa;
    --app-table-row-hover-color: #f5f5f5;

    --bs-border-color: #f5f5f5;

    --app-border-translucent-light: rgba(224, 224, 224, 0.175);
    --app-focus-ring-primary: rgba(2, 119, 189, 0.25);
}
