{% extends 'base/base.html' %}

{% load static %}

{% block base_content %}
    <div class="container-fluid my-4">
        <div class="text-center mb-5">
            <a href="/" class="d-block mb-3">
                <img src="{% static 'img/django_spire.svg' %}" width="125" alt="Django Spire Logo">
            </a>
        </div>
    </div>

    <div class="container my-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% url 'test_model' as url %}
            {% include 'card/home_card.html' with title="Test Model" icon_class="bi bi-database" url=url %}

            {% url 'component:home' as url %}
            {% include 'card/home_card.html' with title="Component" icon_class="bi bi-puzzle" url=url %}

            {% url 'cookbook:list' as url %}
            {% include 'card/home_card.html' with title="Cookbook" icon_class="bi bi-journal" url=url %}

            {% url 'modal_example:home' as url %}
            {% include 'card/home_card.html' with title="Modal" icon_class="bi bi-window-stack" url=url %}
        </div>
    </div>
{% endblock %}
