<div x-data="{
    chat_object_id: '',
    chat_content_type: '',
    chat_load_ajax_view: new ViewGlue('{% url "spire_ai:chat:template:load" %}', {
        height_correction: '{{ height_correction }}'
    }),
    chat_load_recent_view:  new ViewGlue('{% url "spire_ai:chat:template:recent" %}'),

    load_recent_chats() {
        this.chat_load_recent_view.render_inner(this.$refs.chat_recent_list)
    },

    async load_chat(chat_id) {
        await this.chat_load_ajax_view.render_inner(this.$refs.chat_dialog, {
                chat_id: chat_id
            }
        )
        this.load_recent_chats()
    },

    init() {
        this.load_chat(0)
    }
}" class="row">
    <div class="col-3 border-end">
        {% include 'spire/ai/chat/widget/chat_selection_widget.html' %}
    </div>
    <div x-ref="chat_dialog" class="col-9">
        No Chat Loaded
    </div>
</div>