{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Tickets
{% endblock %}

{% block card_button %}
    {% if AuthController.help_desk.can_add %}
        <div class="col text-end mb-1">
            {% url 'django_spire:help_desk:form:create' as create_url %}
            <a class="btn btn-sm btn-primary" href="{{ create_url }}">
                <i class="bi bi-plus"></i>
                Add
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% for ticket in tickets %}
            {% include 'django_spire/help_desk/item/ticket_item.html' %}
        {% empty %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endfor %}
    </div>
{% endblock %}
