{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    {{ ticket }}
{% endblock %}

{% block card_button %}
    {% if AuthController.help_desk.can_change %}
        {% url 'django_spire:help_desk:form:update' pk=ticket.pk as edit_url %}
        <a class="btn btn-sm btn-primary" href="{{ edit_url }}">
            <i class="bi bi-pencil"></i>
            Edit
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row mb-4">
            <div class="col">
                <div class="attribute-label">Purpose</div>
                {% include 'django_spire/help_desk/element/ticket_purpose_badge.html' %}
            </div>
            <div class="col">
                <div class="attribute-label">Priority</div>
                {% include 'django_spire/help_desk/element/ticket_priority_badge.html' %}
            </div>
            <div class="col">
                <div class="attribute-label">Status</div>
                {% include 'django_spire/help_desk/element/ticket_status_badge.html' %}
            </div>
        </div>
        <div class="row">
            <div class="attribute-label">Ticket Description</div>
            <div>{{ ticket.description|linebreaks }}</div>
        </div>
    </div>
{% endblock %}
