{% extends "django_spire/glue/form/widget/widget.html" %}

{% load django_glue %}

{% block widget_label %}{% endblock %}

{% block widget_content %}
    <div class="form-check {% block input_class %}{% endblock %} {{ input_class }}">
        <input
                type="checkbox"
                class="form-check-input"
                :id="field.id"
                {% include 'django_spire/glue/form/widget/attributes/input_attributes.html' with exclude_class=True %}>
        {{ block.super }}
        <label :for="field.id" class="form-check-label">
            <span x-text="field.label"></span><span x-show="field.required" class="text-danger" aria-hidden="true"> *</span>
        </label>
    </div>
{% endblock %}
