{% extends "django_spire/glue/form/widget/widget.html" %}

{% block widget_content %}
    <input
        type="{% block input_type %}{{ type|default:'text' }}{% endblock %}"
        {% include 'django_spire/glue/form/widget/attributes/input_attributes.html' %}
        {% block input_attributes %}{% endblock %}
        :maxlength="{{ glue_field }}?.max_length"
        :minlength="{{ glue_field }}?.min_length"
        placeholder="{% block placeholder %}{{ placeholder }}{% endblock %}">
    {{ block.super }}
{% endblock %}