{% extends 'django_spire/glue/form/widget/widget.html' %}
{% load django_glue %}

{% block widget_content %}
    <div
        class="border rounded p-3{% if input_class %} {{ input_class }}{% endif %}"
    >
        <div class="row">
            <template x-for="item in field?.choices || []" :key="item.value">
                <div class="col-{{ columns|default:'12' }}">
                    <div
                        class="p-2 mb-2 rounded cursor-pointer"
                        :class="{
                            'bg-primary text-white': field.hasChoiceSelected(item.value),
                            'bg-light': !field.hasChoiceSelected(item.value),
                            'opacity-50': field.disabled || field.disabled_choices?.includes(item.value)
                        }"
                        @click="if (!field.disabled && !field.disabled_choices?.includes(item.value)) field.toggleChoice(item.value)"
                    >
                        <span x-text="item.label"></span>
                    </div>
                </div>
            </template>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
