{% extends 'django_spire/glue/form/widget/widget.html' %}
{% load django_glue %}

{% block widget_content %}
    <div
        class="border rounded p-3{% if input_class %} {{ input_class }}{% endif %}"
        {% if max_height %}style="max-height: {{ max_height }}; overflow-y: auto;"{% endif %}
    >
        <template x-for="choice in field?.choices || []" :key="choice.value">
            <div class="form-check mb-2">
                <input
                    type="checkbox"
                    class="form-check-input"
                    :class="{'is-invalid': field.hasErrors}"
                    :id="field.id + '_' + choice.value"
                    :name="field.name"
                    :value="choice.value"
                    :checked="field.hasChoiceSelected(choice.value)"
                    @change="
                        if ($event.target.checked) {
                            field.addChoice(choice.value);
                        } else {
                            field.removeChoice(choice.value);
                        }
                    "
                    style="accent-color: var(--glue-primary, #0d6efd);"
                >
                <label
                    class="form-check-label"
                    :for="field.id + '_' + choice.value"
                    x-text="choice.label"
                ></label>
            </div>
        </template>
    </div>
    {{ block.super }}
{% endblock %}
