{% extends 'django_spire/glue/form/widget/widget.html' %}

{% block widget_content %}
    {% include 'django_spire/glue/form/label/../label/label.html' %}
    <div
        class="border rounded p-3{% if input_class %} {{ input_class }}{% endif %}"
        {% if max_height %}style="max-height: {{ max_height }}; overflow-y: auto;"{% endif %}
    >
        <template x-for="choice in {{ glue_field }}?.choices || []" :key="choice[0]">
            <div class="form-check mb-2">
                <input
                    type="checkbox"
                    class="form-check-input"
                    :id="{{ glue_field }}.id + '_' + choice[0]"
                    :name="{{ glue_field }}.name"
                    :value="choice[0]"
                    :checked="value && value.includes(choice[0])"
                    @change="
                        if ($event.target.checked) {
                            value = [...(value || []), choice[0]];
                        } else {
                            value = (value || []).filter(v => v !== choice[0]);
                        }
                    "
                    style="accent-color: var(--glue-primary, #0d6efd);"
                >
                <label
                    class="form-check-label"
                    :for="{{ glue_field }}.id + '_' + choice[0]"
                    x-text="choice[1]"
                ></label>
            </div>
        </template>
    </div>
    {{ block.super }}
{% endblock %}