{% extends 'django_spire/glue/form/widget/widget.html' %}
{% load django_glue %}

{% block widget_content %}
    <div class="border rounded p-3{% if input_class %} {{ input_class }}{% endif %}" {% if max_height %}style="max-height: {{ max_height }}; overflow-y: auto;"{% endif %}>
        <div class="row">
            <template x-for="choice in field?.choices || []" :key="choice.value">
                <div class="col-md-{{ columns|default:'12' }} col-lg-{% if columns_lg %}{{ columns_lg }}{% elif columns %}{{ columns }}{% else %}6{% endif %}">
                    <div class="form-check">
                        <input
                            type="radio"
                            class="form-check-input"
                            :class="{'is-invalid': field.hasErrors}"
                            :id="`${field.name}-${choice.value}`"
                            :name="field.name"
                            :value="choice.value"
                            :checked="value === choice.value"
                            @change="value = choice.value"
                            :disabled="field.disabled || field.disabled_choices?.includes(choice.value)">
                        <label class="form-check-label" :for="`${field.name}-${choice.value}`" x-text="choice.label"></label>
                    </div>
                </div>
            </template>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
