{% extends "django_spire/glue/form/widget/widget.html" %}
{% load django_glue %}

{% block widget_content %}
    <select
        x-data="{
            init() {
                const applyDefaultChoice = () => {
                    if (value == null && !{% if include_empty %}true{% else %}false{% endif %} && (field?.choices || []).length) {
                        value = field.choices[0].value
                    }
                };

                applyDefaultChoice();
                $watch(() => (field?.choices || []).length, applyDefaultChoice)
            }
        }"
        {% include 'django_spire/glue/form/widget/attributes/input_attributes.html' with form_class_type='select' %}
    >
        {% if include_empty %}<option value="">{{ empty_label|default:"Select ..." }}</option>{% endif %}
        <template x-for="choice in field?.choices || []" :key="choice.value">
            <option
                :value="choice.value"
                :selected="choice.value == value"
                x-text="choice.label"
            ></option>
        </template>
    </select>
    {{ block.super }}
{% endblock %}
