{% extends 'django_spire/glue/form/widget/widget.html' %}
{% load django_glue %}

{% block widget_label %}{% endblock %}

{% block widget_content %}
    <div class="d-flex align-items-center">
        <input
            type="checkbox"
            class="form-check-input me-2"
            :id="field.id"
            :name="field.name"
            x-model="value"
        >
        <label
            class="form-check-label"
            :for="field.id"
            x-text="field.label"
        ></label>
    </div>
{% endblock %}
