{% extends 'django_spire/form/glue/widget/widget.html' %}

{% block widget_content %}
    <div class="d-flex align-items-center">
        <input
            type="checkbox"
            class="form-check-input me-2"
            :id="{{ glue_field }}.id"
            :name="{{ glue_field }}.name"
            x-model="{{ glue_field }}.value"
        >
        <label
            class="form-check-label"
            :for="{{ glue_field }}.id"
            x-text="{{ glue_field }}.label"
        ></label>
    </div>
{% endblock %}