{% extends "django_spire/glue/form/widget/widget.html" %}

{% block widget_content %}
    <textarea
            rows="{% block rows %}{{ rows|default:'3' }}{% endblock %}"
            {% include 'django_spire/glue/form/widget/attributes/input_attributes.html' %}
            :maxlength="{{ glue_field }}?.max_length"
            :minlength="{{ glue_field }}?.min_length"
            placeholder="{% block placeholder %}{{ placeholder }}{% endblock %}">
    </textarea>
    {{ block.super }}
{% endblock %}
