{% load django_glue %}
<div>
    {% if not hide_label %}
        {% block widget_label %}
            {% include 'django_spire/glue/form/label/label.html' %}
        {% endblock %}
    {% endif %}

    {% block widget_content %}
    {% endblock %}
    <div class="invalid-feedback" x-text="{{ glue_field|glue_field_metadata_path }}.errorText"></div>
    <small class="text-muted d-block" x-show="{{ glue_field|glue_field_metadata_path }}.help_text" x-text="{{ glue_field|glue_field_metadata_path }}.help_text"></small>
</div>
