{% extends 'django_spire/tab/section.html' %}

{% block tab_section_tabs %}
    {% include 'django_spire/tab/tab.html' with tab_name='Active' tab_id='active' tab_active='True' %}
    {% include 'django_spire/tab/tab.html' with tab_name='Inactive' tab_id='inactive' %}

{% endblock %}

{% block tab_section_panes %}
    {% include 'django_spire/auth/group/tab/user_list_tab_pane.html' with user_list=active_user_list tab_id='active' tab_active='True' %}
    {% include 'django_spire/auth/group/tab/user_list_tab_pane.html' with user_list=inactive_user_list tab_id='inactive' %}
{% endblock %}
