from django.urls.conf import include, path


app_name = '${url_namespace}'

urlpatterns = [
    path('page/', include('${module_path}.urls.page_urls', namespace='page')),
    path('form/', include('${module_path}.urls.form_urls', namespace='form')),
]
