from __future__ import annotations

from django.urls import path

from ${module_path}.views import template_views


app_name = 'template'

urlpatterns = [
    path('items/', template_views.${list_items_view_name}, name='items'),
]
