from __future__ import annotations

from typing import TYPE_CHECKING

from django_spire.contrib.service import BaseDjangoModelService

if TYPE_CHECKING:
    from ${module_path}.models import ${model_class_name}


class ${transformation_service_class_name}(BaseDjangoModelService['${model_class_name}']):
    obj: ${model_class_name}
