{% extends 'django_spire/card/title_card.html' %}

{% load static %}

{% block card_title_content_style %}max-height: 300px; overflow-y: auto; overflow-x: hidden;{% endblock %}

{% block card_title %}
    Changelog
{% endblock %}

{% block card_title_content %}
    <div
        x-data="{
            init() {
                const changelog_content_view = new ViewGlue('{% url "django_spire:changelog:content" %}')
                changelog_content_view.render_inner($refs.changelog_container)
            }
        }"
        x-ref="changelog_container"
    >
        <div
            class="spinner-border spinner-border-sm"
            role="status"
            x-transition
        >
        </div>
        <span>Loading...</span>
    </div>
{% endblock %}
