{% extends 'django_spire/item/item.html' %}

{% load django_spire_core %}

{% block item_title_col %} d-none{% endblock %}

{% block item_title_padding %}{% endblock %}

{% block item_row_content %}
    <div class="col-8">
        <div class="attribute-label">Name</div>
        <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>
    </div>
    <div class="col-2">
        <div class="attribute-label">Size</div>
        <div>{{ file.formatted_size }}</div>
    </div>
    <div class="col-2">
        <div class="attribute-label">Type</div>
        <div>{{ file.type }}</div>
    </div>
{% endblock %}

{% block item_button %}
{% endblock %}
