{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Tasks
{% endblock %}

{% block card_button %}
	{% include 'django_spire/button/primary_button.html' with button_icon='bi bi-filter' x_button_click='toggle_card_title_dropdown' %}
{% endblock %}

{% block card_dropdown_content %}
    {% include 'queryset_filtering/form/list_filter_form.html' %}
{% endblock %}

{% block card_title_content %}
    {% for task in tasks %}
        {% include 'queryset_filtering/item/detail_item.html' %}
    {% empty %}
        {% include 'django_spire/item/no_data_item.html' %}
    {% endfor %}
{% endblock %}