.python-version
*.bat
*.env
*.db
*.sql
*.tar.gz
*.wav
*.whl
dev_tool*
pyproject.toml

__pycache__/
.dandy*
.idea/
.seeding_generator_output/
.venv*/
build/
django_spire.egg-info/
inspectionProfiles/
venv*/

