.python-version
*.bat
*.env
*.db
*.sql
*.tar.gz
*.wav
*.whl
dev_tool*
pyproject.toml
*~
__pycache__/
.dandy*
.idea/
.profile/
.seeding_generator_output/
.venv*/
.qodo/
dist/
site/
build/
django_spire.egg-info/
inspectionProfiles/
venv*/
.qodo
.dev

