*.db

robit.log*

*.bat
*.egg-info
*.encrypted
*.env
*.sql
.markdown
.profile

dev_tool.exe
dev_tool*.exe
dev_requirements.txt
dev-requirements.txt

.prompt_generator_output

*.db-journal
*.http
*.tar.gz
*.wav
*.whl

__snapshots__/

__pycache__/
.python-version
.vscode/
.venv*/
venv/
venv*/
venv
.dandy*
.idea
.dev
.seeding_generator_output/
.qodo
dist/
site/
django_spire.egg-info/
inspectionProfiles/
.opencode/node_modules/

*~
nul

archive/
build/

opencode.json
