site_name: Django Spire

site_url: https://django-spire.stratusadv.com


repo_name: stratusadv/django-spire
repo_url: https://github.com/stratusadv/django-spire

copyright: Copyright (c) 2024 Stratus Advanced Technologies and Contributors

extra_css:
  - static/css/extra.css
  - static/css/mkdocstrings.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - static/js/extra.js


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
  - tables
  - attr_list

nav:
  - Getting Started:
      - Welcome: index.md
      - Installation: getting_started/installation.md
  - App Guides:
      - AI:
          - Usage & Interactions: app_guides/ai/overview.md
          - Chat Assistant: app_guides/ai/chat/overview.md
          - SMS Conversation: app_guides/ai/sms/overview.md
      - Core:
          - Shortcuts: app_guides/core/shortcuts.md
      - Notification:
          - Automations: app_guides/notification/automations.md
          - App Notifications: app_guides/notification/app_notifications.md
          - Email Notifications: app_guides/notification/email_notifications.md
          - SMS Notifications: app_guides/notification/sms_notifications.md
      - Seeding:
          - Overview: app_guides/seeding/overview.md
          - Getting Started: app_guides/seeding/getting_started.md
          - Faker: app_guides/seeding/faker.md
  - Components:
      - Accordian: components/accordian.md
      - Badge: components/badge.md
      - Button: components/button.md
      - Card: components/card.md
      - Comment: components/comment.md
      - Container: components/container.md
      - Dropdown: components/dropdown.md
      - Element: components/element.md
      - File: components/file.md
      - Form: components/form.md
      - Help: components/help.md
      - Item: components/item.md
      - Modal: components/modal.md
      - Navigation: components/navigation.md
      - Notification: components/notification.md
      - Page: components/page.md
      - Tab: components/tab.md
  - API:
      - AI:
          - Decorators: api/ai/decorators.md
      - Core:
          - Template Tags: api/core/templatetags.md
          - Redirects: api/core/redirects.md
          - Shortcuts: api/core/shortcuts.md
      - Notification:
          - Notification: api/notification/notification.md
          - App Notification: api/notification/app_notification.md
          - Email Notification: api/notification/email_notification.md
  - Roadmap:
      - 2025: roadmap/2025_roadmap.md
      - Legend: roadmap/legend.md
  - Changelog:
      - Current: changelog/changelog.md
      - Archived: changelog/archived_changelog.md
  - About:
      - Contributors: about/contributors.md

plugins:
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - url: https://docs.python.org/3/objects.inv
              domains: [ py, std ]
          options:
            show_source: true
            show_if_no_docstring: True
            docstring_style: sphinx
            docstring_section_style: list
            members_order: source
            merge_init_into_class: true
            show_root_full_path: true
            show_root_heading: true
            show_signature: false
            show_signature_annotations: false
            show_symbol_type_heading: true
  - markdown-exec
  - search
  - table-reader

theme:
  name: material
  custom_dir: docs/templates
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to system preference"
  features:
    - toc.follow
    - navigation.tabs
    - navigation.footer
    - navigation.sections
  logo: 'static/img/django_spire_logo_white_256.png'
  favicon: 'favicon.png'

watch:
  - django_spire
  - test_project
