[project]
name = "django-spire"
description = "A project for Django Spire"
readme = { file = "README.rst", content-type = "text/x-rst" }
license = { file = "LICENSE.md" }
authors = [
    { name = "Brayden Carlson", email = "braydenc@stratusadv.com" },
    { name = "Nathan Johnson", email = "nathanj@stratusadv.com" },
]
keywords = [
    "portal",
    "cmms",
    "spire",
    "django",
    "backend",
    "frontend",
    "javascript",
    "active server pages",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: JavaScript",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
requires-python = ">=3.10"
dependencies = [
    "crispy-bootstrap5==2023.10",
    "docutils",
    "django==5.1.4",
    "django-crispy-forms==2.1",
    "django-debug-toolbar",
    "django-glue==0.7.8",
    "dandy==0.7.0",
    "Pygments",
    "psycopg2==2.9.10",
    "python-dateutil==2.8.2",
    "setuptools",
    "typing_extensions"
]
dynamic = ["version"]

[build-system]
requires = [
    "setuptools>=66.0",
    "wheel>=0.36.0"
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
exclude = [
    "example",
    "example.*",
    "testing",
    "docs",
    "tests",
    "tests.*",
]

[tool.setuptools.dynamic]
version = { attr = "django_spire.consts.VERSION" }

[tool.dev_tool]
port = 5745
single_instance = true

[tool.docker]
container-size = "8g"
postgres-version = 14

[tool.coverage]
apps = ["."]
exclude = [
    # Directories
    "*/.venv/*",
    "*/migrations/*",
    "*/static/*",
    "*/system/*",
    "*/tests/*",
    "*/venv/*",

    # Files
    "__init__.py",
    "apps.py",
    "automation.py",
    "manage.py",
    "run_coverage.py"
]
failfast = false
nobrowser = false
noerase = false
nohtml = false
settings = "system.testing.settings"
verbosity = 1

[tool.unittest]
apps = ["."]
failfast = false
keepdb = true
settings = "system.testing.settings"
verbosity = 1
