crispy-bootstrap5>=0.6
django-sendgrid-v5
docutils
dandy>=0.18.0
django>=5.1.8
django-crispy-forms>=1.14.0
faker==37.1.0
Pygments
psycopg2>=2.9.10
pydantic
python-dateutil>=2.8.2
typing_extensions
twilio
