<form
    x-data="{
        duck: Glue.model('{{ unique_name }}'),

        async init() {
            await GlueObjectHelper.tryGlueGet(this.duck, 3);
        }
    }"
    method="post"
    action="{{ action_url }}"
>
{% csrf_token %}
<div class="row g-3 mb-3">
    <div class="col">
        {% include 'django_spire/form/../../../../../django_spire/core/templates/django_spire/contrib/glue/form/field/char_field.html' with glue_model_field='duck.name' %}
    </div>
    <div class="col">
        {% include 'django_spire/form/../../../../../django_spire/core/templates/django_spire/contrib/glue/form/field/number_field.html' with glue_model_field='duck.order' %}
    </div>
    <div class="col">
        {% include 'django_spire/form/../../../../../django_spire/core/templates/django_spire/contrib/glue/form/field/color_field.html' with glue_model_field='duck.color' %}
    </div>
</div>

<div class="row g-3 mb-3">
    <div class="col-12">
        {% include 'django_spire/form/button/submit_button.html' %}
    </div>
</div>
</form>