{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}domain_form{% endblock %}

{% block glue_form_content %}
    <div class="row">
        <div class="col-12 col-sm mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/char_field.html' with glue_field='glue_form.$fields.name' %}
        </div>

        <div class="col-12 mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/text_field.html' with glue_field='glue_form.$fields.description' %}
        </div>

        <div class="col-12 mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/text_field.html' with glue_field='glue_form.$fields.sub_domain_description' %}
        </div>
    </div>
{% endblock %}