<a
    class="d-flex align-items-center gap-2 rounded-3 px-3 py-2 fw-medium cursor-pointer text-app-link-side-navigation ds-fs-9 {{ link_class }} {% if request.path == link_url %}active{% endif %}"
    href="{{ link_url }}"
    {% if not disable_overlay %}
    x-data="{
        current_path: '{{ request.path }}',
        link_path: '{{ link_url }}',

        is_active() {
            return this.current_path === this.link_path
                || this.current_path.startsWith(this.link_path + '/');
        },

        redirect() {
            const SPINNER_DELAY = 1000;
            const url = `{{ link_url }}`;

            this.$dispatch('nav-redirect', { path: url });

            let spinnerTimer = setTimeout(() => {
                toggleLoadingSpinner();
            }, SPINNER_DELAY);

            fetch(url, { method: 'GET' })
                .then(() => {
                    clearTimeout(spinnerTimer);
                    window.location = url;
                })
                .catch(() => {
                    clearTimeout(spinnerTimer);
                    window.location = url;
                });
        }
    }"
    @nav-redirect.window="current_path = $event.detail.path"
    :class="{
        'active': is_active(),
        'justify-content-center px-0 gap-0': collapsed,
        'gap-2 px-3': !collapsed
    }"
    @click.prevent="redirect()"
    x-init="$dispatch('accordion-link', { url_path: link_path })"
    {% else %}
    :class="{
        'justify-content-center px-0 gap-0': collapsed,
        'gap-2 px-3': !collapsed
    }"
    {% endif %}
>
    <i class="{{ link_icon }} flex-shrink-0" style="width: 1.25rem;" :style="collapsed ? 'font-size: 1.25rem; width: auto;' : 'width: 1.25rem;'"></i>
    <span class="text-truncate" x-show="!collapsed">{{ link_text }}</span>
</a>
