{% load django_spire_glue %}
name="{{ glue_field|glue_field_metadata_path }}.name"
{% if not exclude_x_model %}
x-model="{{ glue_field|glue_field_value_path }}"
{% endif %}
{% if not exclude_class %}
class="form-{{ form_class_type|default:'control' }} form-select-{{ size|default:'sm' }}{% if input_class %} {{ input_class }}{% endif %}"
{% endif %}
:class="{'is-invalid': {{ glue_field|glue_field_metadata_path }}.hasErrors}"
:required="{{ glue_field|glue_field_metadata_path }}.required"
:disabled="{{ glue_field|glue_field_metadata_path }}.disabled"
