{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}visual_condition_form{% endblock %}

{% block glue_form_content %}
    <div class="row g-3">
        <div class="col-md-4">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.state' %}
        </div>

        <div class="col-md-4">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.operator' %}
        </div>

        <div class="col-md-4">
            {% include 'django_spire/glue/form/field/integer_field.html' with glue_field='glue_form.$fields.order' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/number_field.html' with glue_field='glue_form.$fields.target' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/number_field.html' with glue_field='glue_form.$fields.tolerance' %}
        </div>
    </div>
{% endblock %}
