{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}visual_form{% endblock %}

{% block glue_form_content %}
    <div class="row g-3">
        <div class="col-12">
            {% include 'django_spire/glue/form/field/char_field.html' with glue_field='glue_form.$fields.name' %}
        </div>

        <div class="col-12">
            {% include 'django_spire/glue/form/field/text_field.html' with glue_field='glue_form.$fields.description' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.statistic' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/char_field.html' with glue_field='glue_form.$fields.reference' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.kind' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/date_field.html' with glue_field='glue_form.$fields.date' %}
        </div>
    </div>
{% endblock %}
