{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}visual_reference_form{% endblock %}

{% block glue_form_content %}
    <div class="row g-3">
        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/char/field.html' with glue_field='glue_form.$fields.reference' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/char/field.html' with glue_field='glue_form.$fields.label' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/integer/field.html' with glue_field='glue_form.$fields.order' %}
        </div>
    </div>
{% endblock %}
