{% extends 'django_spire/contrib/item/item.html' %}

{% block item_title %}
    {% url 'django_spire:metric:domain:page:detail' pk=domain.pk as domain_view_url %}
    {% include 'django_spire/element/attribute_element.html' with attribute_title='Domain' attribute_value=domain.name attribute_href=domain_view_url %}
{% endblock %}

{% block item_row_content %}
    <div class="col-4">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=domain.description %}
    </div>
    <div class="col-8">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Sub Domain Description' attribute_value=domain.sub_domain_description|linebreaksbr %}
    </div>
{% endblock %}

{% block item_button %}
    {% url 'django_spire:metric:domain:page:detail' pk=domain.pk as domain_view_url %}

    {% if perms.metric_domain.change_domain %}
        {% url 'django_spire:metric:domain:form:update' pk=domain.pk as domain_edit_url %}
    {% endif %}

    {% if perms.metric_domain.delete_domain %}
        {% url 'django_spire:metric:domain:form:delete' pk=domain.pk as domain_delete_url %}
    {% endif %}

    {% include 'django_spire/dropdown/ellipsis_dropdown.html' with view_url=domain_view_url edit_url=domain_edit_url delete_url=domain_delete_url %}
{% endblock %}