{% extends 'django_spire/item/item.html' %}

{% block item_title %}
    {% url 'django_spire:metric:domain:page:detail' pk=domain.pk as domain_view_url %}
    <div class="attribute-label">Domain</div>
    <a href="{{ domain_view_url }}"> {{ domain.name }} </a>
{% endblock %}

{% block item_row_content %}
    <div class="col-4">
        <div class="attribute-label">Description</div>
        {{ domain.description }}
    </div>
    <div class="col-8">
        <div class="attribute-label">Sub Domain Description</div>
        {{ domain.sub_domain_description }}
    </div>
{% endblock %}

{% block item_button %}
    {% url 'django_spire:metric:domain:page:detail' pk=domain.pk as domain_view_url %}

    {% if perms.metric_domain.change_domain %}
        {% url 'django_spire:metric:domain:form:update' pk=domain.pk as domain_edit_url %}
    {% endif %}

    {% if perms.metric_domain.delete_domain %}
        {% url 'django_spire:metric:domain:form:delete' pk=domain.pk as domain_delete_url %}
    {% endif %}

    {% include 'django_spire/dropdown/ellipsis_dropdown.html' with view_url=domain_view_url edit_url=domain_edit_url delete_url=domain_delete_url %}
{% endblock %}