<span
    x-data="{
        permissionLevelClassMap: {
            'view': 'bg-primary',
            'add': 'bg-primary',
            'change': 'bg-success',
            'delete': 'bg-danger',
        }
    }"
    {% if x_permission_level %}
    :class="`badge bg-secondary text-white ${permissionLevelClassMap[{{ x_permission_level }}.toLowerCase()]}`"
    x-text="{{ x_permission_level }}"
    {% elif permission_level %}
    :class="`badge bg-secondary text-white ${permissionLevelClassMap['{{ permission_level|lower }}']}`"
    {% endif %}
>
{% if permission_level %}
    {{ permission_level|lower }}
{% endif %}
</span>