{% extends 'django_spire/glue/scroll/scroll.html' %}

{% block scroll_queryset_order_by_field %}name{% endblock %}
{% block scroll_queryset_unique_name %}{{ task_queryset_name }}{% endblock %}
{% block scroll_queryset_filter_field %}description{% endblock %}
{% block scroll_container_class %}{% if is_nested %}ms-4 border-start ps-3{% endif %}{% endblock %}

{% block scroll_header %}
    {% if not is_nested %}
        <div class="row">
            <div class="col">
                <input class="form-control" placeholder="Search Tasks ..." type="search" x-model.debounce="searchQuery">
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary form-control" @click="toggleOrder()"> Sort By Name</button>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-6 fw-bold">
                Name
            </div>
            <div class="col-2 fw-bold">
                Status
            </div>
            <div class="col-2 fw-bold">
                Created
            </div>
            <div class="col-2 fw-bold text-end">
                Actions
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scroll_template_item %}
    <div x-data="{
        showChildTasks: false,
        childTasksLoaded: false,
        async toggleChildTasks() {
            if (!this.showChildTasks && !this.childTasksLoaded) {
                await Glue.view(`{% url 'task:page:child_list' pk=0 %}`.replace('0', item.id))
                    .renderInnerHtml($refs.childTasks)
                this.childTasksLoaded = true
            }
            this.showChildTasks = !this.showChildTasks
        },
    }">

        {% include 'task/scroll/task_item.html' %}

        <div x-show="showChildTasks" x-ref="childTasks"></div>

    </div>

{% endblock %}
