{% extends 'django_spire/glue/scroll/scroll.html' %}

{% block scroll_queryset_order_by_field %}name{% endblock %}
{% block scroll_queryset_unique_name %}{{ task_queryset_name }}{% endblock %}
{% block scroll_queryset_filter_field %}name{% endblock %}
{% block scroll_container_class %}{% if is_nested %}ms-4 border-start ps-3{% endif %}{% endblock %}

{% block scroll_header %}
    {% if not is_nested %}
        <div class="row">
            <div class="col">
                <input class="form-control" placeholder="Search Tasks ..." type="search" x-model.debounce="searchQuery">
            </div>
            <div class="col">
                <div class="btn-group w-100">
                    <button
                        class="btn btn-outline-secondary text-start dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        x-text="{
                            name: 'Sort by Name',
                            status: 'Sort by Status',
                            created_datetime: 'Sort by Created',
                            description: 'Sort by Description'
                        }[orderBy.replace('-', '')]"
                    >
                    </button>
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        @click="toggleOrder()"
                        :aria-label="orderBy.startsWith('-') ? 'Sort descending' : 'Sort ascending'"
                    >
                        <i
                            class="bi"
                            :class="orderBy.startsWith('-') ? 'bi-sort-alpha-down-alt' : 'bi-sort-alpha-down'"
                        ></i>
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><button class="dropdown-item" type="button" @click="orderBy = `${orderBy.startsWith('-') ? '-' : ''}name`">Name</button></li>
                        <li><button class="dropdown-item" type="button" @click="orderBy = `${orderBy.startsWith('-') ? '-' : ''}status`">Status</button></li>
                        <li><button class="dropdown-item" type="button" @click="orderBy = `${orderBy.startsWith('-') ? '-' : ''}created_datetime`">Created</button></li>
                        <li><button class="dropdown-item" type="button" @click="orderBy = `${orderBy.startsWith('-') ? '-' : ''}description`">Description</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-6 fw-bold">
                Name
            </div>
            <div class="col-2 fw-bold">
                Status
            </div>
            <div class="col-2 fw-bold">
                Created
            </div>
            <div class="col-2 fw-bold text-end">
                Actions
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scroll_template_item %}
    <div x-data="{
        showChildTasks: false,
        childTasksLoaded: false,
        async toggleChildTasks() {
            if (!this.showChildTasks && !this.childTasksLoaded) {
                await Glue.view(`{% url 'task:page:child_list' pk=0 %}`.replace('0', item.id))
                    .renderInnerHtml($refs.childTasks)
                this.childTasksLoaded = true
            }
            this.showChildTasks = !this.showChildTasks
        },
    }">
        {% include 'task/scroll/task_item.html' %}
        <div x-show="showChildTasks" x-ref="childTasks"></div>
    </div>

{% endblock %}
