{% load django_glue %}
<div
    class="row border-bottom py-2"
    x-data="{
    openFormModal(item) {
        Spire.modal.dispatchElementById(
            'task-form-modal-content',
            {eventData: {glueForm: item.form}}
        )
    },
    duplicateTask() {
        item.services.factory.duplicate().then(result => {
            $dispatch('updated-item', {
                pk: result.new_task_id,
            })

            Spire.notify.success(`Task '${item.name}' duplicated successfully!`)
        });
    }
}">
    <div class="col-6" x-data="{ expanded: false }" @children-expanded.window="if ($event.target === $el.closest('children-tree')) expanded = $event.detail.expanded">
        <span x-show="item.has_children" @click="$dispatch('toggle-children')" style="cursor: pointer; display: inline-block; transition: transform 0.2s;" class="me-1"
              :style="expanded && 'transform: rotate(90deg)'">
            <i class="bi bi-chevron-right"></i>
        </span>
        <a :href="{% js_url 'task:page:detail' pk='item.id' %}">
            <span x-text="item.name"></span>
        </a>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle text-white badge border-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                :class="
                    item.status === 'inp' ? 'bg-secondary' :
                    item.status === 'com' ? 'bg-success' :
                    item.status === 'can' ? 'bg-warning' :
                    'bg-primary'
                "
                x-text="{new: 'New', inp: 'In Progress', com: 'Complete', can: 'Cancelled'}[item.status]"
            >
            </button>
            <ul class="dropdown-menu">
                <template x-for="choice in (item.$fields?.status?.choices || []).filter(c => c.value != item.status)">
                    <li>
                        <a
                            class="dropdown-item"
                            href="#"
                            @click.prevent="item.status = choice.value; item.save()"
                            x-text="choice.label"
                        >
                        </a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <template x-if="item.parent">
        <div class="col-2">
            <span x-text="item.parent.name"></span>
        </div>
    </template>
    <div class="col-2">
        <span x-text="item.created_datetime"></span>
    </div>
    <div class="col-2 text-end">
        <button class="btn btn-sm btn-outline-success" @click="item.complete()"
                x-show="item.status !== 'com'">
            <i class="bi bi-check-lg"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary" @click="duplicateTask()" title="Duplicate Task">
            <i class="bi bi-copy"></i>
        </button>
        <button
            class="btn btn-sm btn-outline-secondary"
            @click="openFormModal(item)"
        >
            <i class="bi bi-pencil"></i>
        </button>
        <a class="btn btn-sm btn-outline-danger"
           :href="{% js_url 'task:form:delete' pk='item.id' %}">
            <i class="bi bi-trash"></i>
        </a>
    </div>
</div>
