<div
    class="knowledge-nav-item cursor-pointer row"
    x-data="{
        show_menu_toggle_button: false,
    }"
    @mouseover="show_menu_toggle_button = true"
    @mouseleave="show_menu_toggle_button = false"
>
    <div
        class="col text-start"
        {% if AuthController.knowledge.can_view %}
            @click="collection.toggle_show_details({value: !collection.show_details})"
        {% endif %}
    >
        <i
            :class="collection.show_details ? 'bi bi-chevron-down' : 'bi bi-chevron-right'"
            {% if hide_chevron %}
            style="visibility: hidden"
            {% else %}
            :style="{visibility: (collection.has_child_collections() || collection.has_entries()) ? 'visible' : 'hidden'}"
            {% endif %}
        ></i>
        <i class="bi bi-folder2 fs-5"></i>
        <span
            :class="collection.id === {{ collection.pk|default:0 }} ? 'text-app-accent' : ''"
            x-text="collection.name"
        ></span>
    </div>
    {% if AuthController.knowledge.can_view %}
        <div
            x-data="{
                hovered: false
            }"
            :class="hovered && 'text-app-accent'"
            @mouseover="hovered = true"
            @mouseleave="hovered = false"
            class="col-auto"
        >
            {% include 'django_spire/knowledge/collection/dropdown/navigation_ellipsis_dropdown.html' %}
        </div>
    {% endif %}
</div>
