<form
        class="row"
        method="post"
        action="{% url 'django_spire:knowledge:collection:form:update' pk=collection.pk|default:0 %}"
        x-data="{
        collection: Glue.model.collection,
        collection_query_set: Glue.querySet.collections,
        group_query_set: Glue.querySet.group_query_set,
        async init() {
            await this.collection.get()
            this.collection.glue_fields.parent.choices = await this.collection_query_set.to_choices()
            this.collection.glue_fields.parent.label = 'Parent Collection'

            if (!this.collection.parent) {
                this.collection.parent = {{ collection_parent_pk|default:'null' }}
            }
        }
    }"
>
    {% csrf_token %}

    <div class="col-12">
        {% include 'django_spire/form/glue/field/../../../../../../core/templates/django_spire/form/glue/widget/text_input_widget.html' with glue_field='collection.$form.$fields.name' %}
    </div>

    <div class="col-12 mt-2">
        {% include 'django_spire/form/glue/field/../../../../../../core/templates/django_spire/form/glue/widget/text_input_widget.html' with glue_field='collection.$form.$fields.description' %}
    </div>

{#    {% if AuthController.knowledge.can_change_collection_groups %}#}
{#        <div class="col-12 col-lg mt-2">#}
{#            {% include 'django_spire/form/glue/field/select.html' with glue_field='groups' %}#}
{#        </div>#}
{#    {% endif %}#}

    {% if request.GET.top_level != 'True' %}
        <div class="col-12 col-lg mt-2">
            {% include 'django_spire/form/glue/field/../../../../../../core/templates/django_spire/form/glue/widget/select_widget.html' with glue_field='collection.$form.$fields.parent' %}
        </div>
    {% endif %}

    <div class="col-12 mt-3">
        {% include 'django_spire/contrib/form/button/form_submit_button.html' %}
    </div>
</form>
