{% extends 'django_spire/auth/page/auth_page.html' %}

{% load static %}

{% block base_title %}Password Reset{% endblock %}

{% block authentication_page_content %}
    <h5>Password Reset</h5>
    <form method="post" class="text-app-secondary">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email"placeholder="Email address" required>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <button type="submit" class="w-100 btn btn-app-primary bg-app-primary mt-2">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
