{% extends 'django_spire/auth/page/auth_page.html' %}

{% block authentication_page_content %}
    <h5 class="mb-2">Change Password</h5>
    <div>
        <form x-data="{
            passwords_match: true,
            passwords_empty: true,
            old_password: '',
            new_password1: '',
            new_password2: '',

            init() {
                $watch(() => [this.new_password1, this.new_password2], () => {
                    this.passwords_match = this.new_password1 === this.new_password2
                })
            }
        }" method="post" class="text-secondary">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="old_password">Old Password</label>
                    <input type="password" x-model="old_password" name="old_password" id="old_password" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col pt-4">
                    <label for="new_password1">New Password</label>
                    <input type="password" x-model="new_password1" name="new_password1" id="password1" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="new_password2">Confirm Password</label>
                    <input type="password" x-model="new_password2" name="new_password2" id="password2" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <span x-show="!passwords_match" class="text-danger">
                        Password confirmation does not match new password.
                    </span>
                    <button
                        type="submit"
                        class="w-100 btn btn-primary bg-primary mt-2"
                        :disabled="!passwords_match"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
