{% extends 'django_spire/filtering/form/base_session_filter_form.html' %}

{% load session_tags %}
{% load spire_form_tags %}

{% block session_filter_key %}{{ form_session.session_key }}{% endblock %}

{% block filter_content %}
    <div
        class="row g-2 mb-2"
        x-data="{
            infinite_scrolling: new ModelObjectGlue('infinite_scrolling'),
            {% django_form_to_js_glue_fields form_session.form %}

            async init() {
                await this.infinite_scrolling.get();

                this.search.set_attribute('placeholder', 'Search...')
            },
        }"
    >
        <div class="col-6">
            {% spire_form_field form=form_session.form glue_field='search' %}
        </div>
    </div>
{% endblock %}
