from __future__ import annotations

from dandy.llm import BaseLlmBot

from ${module}.intelligence import intel
from ${module}.intelligence import prompts


class ${spire_model_name}Bot(BaseLlmBot):
    instructions_prompt = prompts.${spire_app_name}_instruction_prompt()
    intel_class = intel.${spire_model_name}Intel

    @classmethod
    def process(
        cls,
        user_input: str
    ) -> intel.${spire_model_name}Intel:

        return cls.process_prompt_to_intel(
            prompt=prompts.${spire_app_name}_user_input_prompt(user_input)
        )
