from __future__ import annotations

from dandy import Bot

from module.intelligence import intel, prompts


class spire_model_nameBot(Bot):
    llm_role = prompts.spire_app_name_instruction_prompt()
    llm_intel_class = intel.spire_model_nameIntel

    def process(
        self,
        user_input: str
    ) -> intel.spire_model_nameIntel:
        return self.llm.prompt_to_intel(
            prompt=prompts.spire_app_name_user_input_prompt(user_input)
        )
