{% extends 'django_spire/card/title_card.html' %}

{% load django_spire_core %}

{% block card_title %}
    {{ user.get_full_name }}
{% endblock %}

{% block card_button %}
    {% if perms.django_spire_auth_user.change_authuser %}
        {% url 'django_spire:auth:user:form:update' pk=user.pk as form_url %}
        <a class="btn btn-sm btn-primary" href="{{ form_url }}">
            <i class="bi bi-pencil-fill"></i>
            Edit
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-2">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">First Name</div>
                <div>{{ user.first_name }}</div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">Last Name</div>
                <div>{{ user.last_name }}</div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">Email</div>
                <div>{{ user.email }}</div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">Status</div>
                {% include 'django_spire/auth/group/element/is_active_badge.html' with is_active=user.is_active %}
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">Last Login</div>
                <div>{{ user.last_login|default:'N/A' }}</div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="attribute-label">Date Created</div>
                <div>{{ user.date_joined }}</div>
            </div>
        </div>
    </div>
{% endblock %}
