{% load django_spire_core %}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            Group List
            {% if perms.django_spire_auth_group.change_authgroup %}
                {% url 'django_spire:auth:group:form:add' as add_group_url %}
                {% include 'django_spire/button/primary_dark_button.html' with button_href=add_group_url button_text='Add' button_icon='bi bi-plus' %}
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% for group in group_list %}
            {% include 'django_spire/auth/group/item/group_item.html' with perm_data=group_list_permission_data|index:forloop.counter0 location='group' %}
            {% empty %}
            No Groups Yet
        {% endfor %}
    </div>
</div>
