{% extends 'django_spire/card/title_card.html' %}

{% load spire_core_tags %}

{% block card_title %}
    Users
{% endblock %}

{% block card_button %}
    {% if perms.django_spire_auth_group.change_authgroup %}
        {% url 'django_spire:auth:group:form:user' pk=group.pk as group_user_form %}
        {% include 'django_spire/button/primary_dark_button.html' with button_href=group_user_form button_icon='bi bi-pencil' %}
    {% endif %}
{% endblock %}

{% block card_title_content %}
    {% for user in user_list %}
        {% include 'django_spire/auth/group/item/group_user_item.html' with small_view=True %}
    {% empty %}
        {% include 'django_spire/item/no_data_item.html' %}
    {% endfor %}
{% endblock %}

{% block card_footer %}
    {% include 'django_spire/element/pagination_element.html' with paginated_list=user_list %}
{% endblock %}
