<div
    class="alert ms-auto my-2 me-sm-3 me-0 shadow p-2"
    role="alert"
    :class="{
        'alert-success': notification.type === 'success',
        'alert-warning': notification.type === 'warning',
        'alert-danger': notification.type === 'error',
        'alert-primary': notification.type === 'info',
        'alert-secondary': notification.type === 'debug'
    }"
    style="max-width: 400px; pointer-events: auto;"
    x-show="show"
    x-transition.duration.500ms
    x-data="{
        show: false,
        init() {
            this.$nextTick(() => this.show = true)
            setTimeout(() => this.transitionOut(), 5000)
        },
        transitionOut() {
            this.show = false
            setTimeout(() => this.remove(this.notification), 500)
        }
    }"
>
    <div class="row align-items-center">
        <div class="col-auto ps-3">
            <template x-if="notification.type === 'success'">
                <i class="text-success bi bi-check-circle-fill h3 m-0"></i>
            </template>
            <template x-if="notification.type === 'warning'">
                <i class="text-warning bi bi-slash-circle-fill h3 m-0"></i>
            </template>
            <template x-if="notification.type === 'error'">
                <i class="text-danger bi bi-x-circle-fill h3 m-0"></i>
            </template>
            <template x-if="notification.type === 'info'">
                <i class="text-primary bi bi-info-circle-fill h3 m-0"></i>
            </template>
            <template x-if="notification.type === 'debug'">
                <i class="text-secondary bi bi-bug h3 m-0"></i>
            </template>
        </div>
        <div class="col position-relative ps-0 pe-4">
            <div x-text="notification.message"></div>
            <i
                class="position-absolute text-dark top-0 end-0 mt-n2 me-2 bi bi-x-lg cursor-pointer"
                @click="transitionOut()"
            >
            </i>
        </div>
    </div>
</div>
