from __future__ import annotations

from typing import TYPE_CHECKING

from django_spire.contrib.seeding import DjangoModelSeeder

from ${module_path} import models

if TYPE_CHECKING:
    from typing import ClassVar


class ${seeder_class_name}(DjangoModelSeeder):
    """https://django-spire.stratusadv.com/app_guides/seeding/overview/"""

    model_class = models.${model_class_name}
    default_to = 'llm'

    fields: ClassVar = {
        'id': 'exclude',
        'created_datetime': 'exclude',
        'is_active': True,
        'is_deleted': False,
        # 'name': ('llm', 'Super awesome prompt'),
        # 'status': 'faker',
    }
