{% extends 'django_spire/item/item.html' %}

{% block item_title_col %}d-none{% endblock %}

{% block item_row_content %}
    <div class="col-1">
        {{ ticket.id }}
    </div>
    <div class="col-4">
        {{ ticket.description|truncatechars:40 }}
    </div>
    <div class="col-2">
        {{ ticket.created_by.get_full_name }}
    </div>
    <div class="col-2">
        {{ ticket.created_datetime|date:'M d, Y' }}
    </div>
    <div class="col-1 text-center">
        {% include 'django_spire/help_desk/element/ticket_purpose_badge.html' with ticket=ticket %}
    </div>
    <div class="col-1 text-center">
        {% include 'django_spire/help_desk/element/ticket_priority_badge.html' with ticket=ticket %}
    </div>
    <div class="col-1 text-center">
        {% include 'django_spire/help_desk/element/ticket_status_badge.html' with status=ticket %}
    </div>
{% endblock %}