{% extends 'django_spire/item/item.html' %}

{% block item_title_col %}d-none{% endblock %}

{% block item_row_content %}
        <a class="col-12 col-sm-4 mb-2 mb-sm-0" href="{% url 'django_spire:help_desk:page:detail' pk=ticket.pk %}">
            {% include 'django_spire/element/attribute_element.html' with attribute_title=ticket attribute_value=ticket.description|truncatechars:50 %}
        </a>
        <div class="col-6 col-sm-2 mb-2 mb-sm-0 text-start">
            {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.created_by.get_full_name attribute_title='Created By' %}
        </div>
        <div class="col-6 col-sm-2 mb-2 mb-sm-0 text-start">
            {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.created_datetime|date:'M d, Y' attribute_title='Created At' %}
        </div>
        <div class="col-6 col-sm-3 mb-2 mb-sm-0 text-start text-sm-center">
            {% include 'django_spire/help_desk/element/ticket_purpose_badge.html' %}
            {% include 'django_spire/help_desk/element/ticket_priority_badge.html' %}
            {% include 'django_spire/help_desk/element/ticket_status_badge.html' %}
        </div>
        <div class="col-6 col-sm-1 text-end">
            {% url 'django_spire:help_desk:page:detail' pk=ticket.pk as detail_url %}
            {% url 'django_spire:help_desk:form:update' pk=ticket.pk as update_url %}
            {% url 'django_spire:help_desk:form:delete' pk=ticket.pk as delete_url %}
            {% include 'django_spire/dropdown/ellipsis_dropdown.html' with view_url=detail_url edit_url=update_url delete_url=delete_url %}
        </div>
{% endblock %}