{% extends 'django_spire/item/item.html' %}

{% block item_title_col %}d-none{% endblock %}

{% block item_row_content %}
    <div class="col-1">
        {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.id attribute_title='Ticket #' %}
    </div>
    <div class="col-4">
        {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.description|truncatechars:40 attribute_title='Description' %}
    </div>
    <div class="col-2">
        {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.created_by.get_full_name attribute_title='Created By' %}
    </div>
    <div class="col-2">
        {% include 'django_spire/element/attribute_element.html' with attribute_value=ticket.created_datetime|date:'M d, Y' attribute_title='Created At' %}
    </div>
    <div class="col-3 justify-content-between">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Purpose / Priority / Status' %}
        {% include 'django_spire/help_desk/element/ticket_purpose_badge.html' with ticket=ticket %}
        {% include 'django_spire/help_desk/element/ticket_priority_badge.html' with ticket=ticket %}
        {% include 'django_spire/help_desk/element/ticket_status_badge.html' with status=ticket %}
    </div>
{% endblock %}