{% extends 'django_spire/item/item.html' %}

{% block item_title_col %}d-none{% endblock %}

{% block item_row_content %}
    <div class="col-12 col-md-6">
        <div class="attribute-label">User</div>
        <div>{{ activity.user.get_full_name }}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="attribute-label">Date</div>
        <div>{{ activity.created_datetime }}</div>
    </div>
    <div class="col-12">
        <div class="attribute-label">Information</div>
        <div>{{ activity.information|linebreaksbr }}</div>
    </div>
{% endblock %}
