{% extends 'django_spire/dropdown/dropdown.html' %}

{% block dropdown_position %}end-0 top-100{% endblock %}

{% block dropdown_trigger %}
    <span
        class="bi bi-three-dots-vertical px-1 {% block ellipsis_class %}{% endblock %}"
        x-bind="trigger"
    >
    </span>
{% endblock %}

{% block dropdown_content %}
    {% if view_url %}
        {% if redirect_view_url %}
            {% include 'django_spire/dropdown/element/dropdown_link_element.html' with view_url=view_url link_text='View' %}
        {% else %}
            {% include 'django_spire/dropdown/element/ellipsis_dropdown_modal_link_element.html' with view_url=view_url link_text='View' %}
        {% endif %}
    {% endif %}

    {% if edit_url %}
        {% if redirect_edit_url %}
            {% include 'django_spire/dropdown/element/dropdown_link_element.html' with view_url=edit_url link_text='Edit' %}
        {% else %}
            {% include 'django_spire/dropdown/element/ellipsis_dropdown_modal_link_element.html' with view_url=edit_url link_text='Edit' %}
        {% endif %}
    {% endif %}

    {% if delete_url %}
        {% if redirect_delete_url %}
            {% include 'django_spire/dropdown/element/dropdown_link_element.html' with view_url=delete_url link_text='Delete' link_css='text-app-danger' %}
        {% else %}
            {% include 'django_spire/dropdown/element/ellipsis_dropdown_modal_link_element.html' with view_url=delete_url link_text='Delete' link_css='text-app-danger' %}
        {% endif %}
    {% endif %}
{% endblock %}
