{% extends "django_spire/form/glue/widget/widget.html" %}

{% block widget_content %}
    {% include 'django_spire/form/glue/label/label.html' %}
    <select
        {% include 'django_spire/form/glue/widget/attributes/input_attributes.html' with form_class_type='select' %}
    >
        {% if include_empty %}<option value="">{{ empty_label|default:"Select..." }}</option>{% endif %}
        <template x-for="choice in glue_field?.choices || []" :key="choice[0]">
            <option :value="choice[0]" x-text="choice[1]"></option>
        </template>
    </select>
    {{ block.super }}
{% endblock %}
