{% extends 'django_spire/wizard/wizard_page.html' %}

{% block wizard_page %}
    <div x-show="current_page === 3">
        <div class="row g-2">
            <div class="col-md-6 col-12">
                {% include 'django_glue/form/field/char_field.html' with glue_model_field='test_model.email' %}
            </div>

            <div class="col-md-6 col-12">
                {% include 'django_glue/form/field/char_field.html' with glue_model_field='test_model.favorite_number' %}
            </div>
        </div>
    </div>
{% endblock %}
