{% extends 'component/subsection/definition.html' %}

{% block subsection_content %}
    <p>A modal component is a dialog box that appears on top of the current page content, requiring user interaction before they can return to the main content. Modals are used for tasks such as displaying alerts, forms, or additional information without navigating away from the current page.</p>

    <p>Modals can be customized with various elements, including headers, footers, buttons, and form fields, to suit different purposes.</p>

    <ul>
        <li>Appears on top of the current page content.</li>
        <li>Requires user interaction before returning to the main content.</li>
        <li>Used for alerts, forms, or additional information.</li>
        <li>Customizable with headers, footers, buttons, and form fields.</li>
    </ul>
{% endblock %}
