from __future__ import annotations

from typing_extensions import ClassVar

from django import forms

from ${module} import models


class ${spire_model_name}Form(forms.ModelForm):
    field = forms.JSONField(required=False)

    class Meta:
        model = models.${spire_model_name}
        exclude: ClassVar = []
