{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}ticket_form{% endblock %}

{% block glue_form_content %}
    <div class="row">
        <div class="col-12 col-sm mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.purpose' %}
        </div>

        <div class="col-12 col-sm mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.priority' %}
        </div>

        <div class="col-12 col-sm mb-3 mb-sm-0">
            {% include 'django_spire/glue/form/field/select_field.html' with glue_field='glue_form.$fields.status' %}
        </div>

        <div class="col-12 mb-1 mt-3">
            {% include 'django_spire/glue/form/field/text_field.html' with glue_field='glue_form.$fields.description' %}
        </div>
    </div>
{% endblock %}
