<form
    method="post"
    action="{% url 'django_spire:help_desk:form:delete' pk=ticket_pk %}"
>
    {% csrf_token %}

    <div class="row mb-3 justify-content-between">
        <div class="col">
            Are you sure you want to delete ticket #{{ ticket_pk }}?
        </div>
        <div class="col-auto">
            <div class="row text-end">
                <div class="col-auto">
                    {% url 'django_spire:help_desk:page:list' as list_url %}
                    {% include 'django_spire/button/secondary_button.html' with button_text="No, go back" button_href=list_url %}
                </div>
                <div class="col-auto">
                    {% include 'django_spire/contrib/form/button/form_submit_button.html' with button_class='btn-sm btn-app-danger' button_text="Yes, I'm sure" %}
                </div>
            </div>
        </div>
    </div>
</form>
