{% extends 'django_spire/knowledge/entry/version/block/update/component/text_component.html' %}

{% block before_text_content %}
    <span
        x-text="version_block.block.bullet"
        :style="`padding-left: ${20 * version_block.block.indent_level}px;`"
    >
    </span>
{% endblock %}

{% block x_data %}
	async create_list_item_block({previous_block}) {
        let bullet = null
        if (previous_block.block.ordered) {
            const number = parseInt(previous_block.block.bullet.split('.')[0]) + 1
            bullet = number + '.'
        } else {
            bullet = previous_block.block.bullet
        }
        const version_block = await create_blank_block({
            block_type: 'list_item',
            order: previous_block.order + 1,
            bullet: bullet,
            indent_level: previous_block.block.indent_level,
            ordered: previous_block.block.ordered,
        })
        $dispatch('update_block_order_focus', {order: version_block.order + 1, cursor_position: 0})
    }
{% endblock %}

{% block shift_enter_event %}
@keydown.shift.enter.prevent="create_list_item_block({previous_block: version_block})"
{% endblock %}
