<div
    class="d-flex align-items-center"
    x-data="{
        init() {
            $nextTick(() => {
                $refs.textarea.style.height = 'auto'
                $refs.textarea.style.height = $refs.textarea.scrollHeight + 'px'
            })
        },
    }"
>
    <style>
        textarea:focus {
            outline: none;
            border: none;
        }
    </style>
    {% block before_text_content %}
    {% endblock %}
    <textarea
        rows="1"
        class="w-100 border-0 bg-transparent px-1 auto-resize overflow-y-hidden {% block textarea_class %}fs-6{% endblock %}"
        style="height: 30px; resize: none;"
        x-ref="textarea"
        x-model="version_block.block.value"
        @input="update_height($event)"
        :placeholder="manager.block_order_focus === version_block.order ? 'Write something...' : ''"
        @beforeinput.debounce.300ms="update_value({version_block: version_block})"
        @keydown.backspace="delete_block_if_empty({version_block: version_block})"
        {% block shift_enter_event %}
        @keydown.shift.enter.prevent="create_blank_block({block_type: 'text', order: version_block.order + 1})"
        {% endblock %}
        {% block textarea_attributes %}
        {% endblock %}
    ></textarea>
</div>
