<div
    class="d-flex align-items-center"
    x-data="{
        init() {
            $nextTick(() => {
                $refs.textarea.style.height = 'auto'
                $refs.textarea.style.height = $refs.textarea.scrollHeight + 'px'
            })
        },
        update_focus({order, cursor_position}) {
            if (order === version_block.order) {
                $refs.textarea.focus()
                $refs.textarea.setSelectionRange(cursor_position, cursor_position)
                manager.update_block_order_focus({order: order})
            }
        }
    }"
    @update_block_order_focus.window="
        update_focus({order: $event.detail.order, cursor_position: $event.detail.cursor_position})
    "
>
    <style>
        textarea:focus {
            outline: none;
            border: none;
        }
    </style>
    {% block before_text_content %}
    {% endblock %}
    <textarea
        rows="1"
        class="w-100 border-0 bg-transparent px-1 auto-resize overflow-y-hidden {% block textarea_class %}fs-6{% endblock %}"
        style="height: 30px; resize: none;"
        x-ref="textarea"
        x-model="version_block.block.value"
        @input="update_height($event)"
        @focus="update_focus({order: version_block.order, cursor_position: $event.target.selectionStart})"
        :placeholder="manager.block_order_focus === version_block.order ? 'Write something...' : ''"
        @beforeinput.debounce.300ms="update_value({version_block: version_block})"
        @keydown.backspace="delete_block_if_empty({version_block: version_block})"
        {% block shift_enter_event %}
        @keydown.shift.enter.prevent="create_blank_block({block_type: 'text', order: version_block.order + 1})"
        {% endblock %}
        @keydown.up.prevent="$dispatch('update_block_order_focus', {order: version_block.order - 1, cursor_position: $event.target.selectionStart})"
        @keydown.down.prevent="$dispatch('update_block_order_focus', {order: version_block.order + 1, cursor_position: $event.target.selectionStart})"
        {% block textarea_attributes %}
        {% endblock %}
    ></textarea>
</div>
