<template x-if="ticket.priority === 'low'">
    {% include 'django_spire/badge/accent_badge.html' with x_badge_text='ticket.priority' %}
</template>
<template x-if="ticket.priority === 'med'">
    {% include 'django_spire/badge/primary_badge.html' with badge_text='ticket.priority' %}
</template>
<template x-if="ticket.priority === 'high'">
    {% include 'django_spire/badge/warning_badge.html' with x_badge_text='ticket.priority' %}
</template>
<template x-if="ticket.priority === 'urge'">
    {% include 'django_spire/badge/danger_badge.html' with badge_text='ticket.priority' %}
</template>

