{% if ticket.status == 'read'  %}
    {% include 'django_spire/badge/badge.html' with badge_text=ticket.get_status_display badge_class='bg-secondary text-white' %}
{% elif ticket.status == 'prog' %}
    {% include 'django_spire/badge/badge.html' with badge_text=ticket.get_status_display badge_class='bg-primary text-white' %}
{% elif ticket.status == 'done' %}
    {% include 'django_spire/badge/badge.html' with badge_text=ticket.get_status_display badge_class='bg-success text-white' %}
{% endif %}