<h1 class="fs-1 fw-semi-bold mb-4">{{ ser.get_full_name }}</h1>

<div class="mb-3">
    {% if perms.django_spire_auth_user.change_authuser %}
        {% url 'django_spire:auth:user:form:update' pk=user.pk as form_url %}
        <a class="btn btn-sm" href="{{ form_url }}">
            <i class="bi bi-pencil-fill"></i>
            Edit
        </a>
    {% endif %}
</div>

<div class="card bg-layer-two mb-3">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <div class="attribute-label">First Name</div>
                <div>{{ user.first_name }}</div>
            </div>
            <div class="col">
                <div class="attribute-label">Last Name</div>
                <div>{{ user.last_name }}</div>
            </div>
            <div class="col">
                <div class="attribute-label">Email</div>
                <div>{{ user.email }}</div>
            </div>
            <div class="col">
                <div class="attribute-label">Status</div>
                {% include 'django_spire/auth/group/element/is_active_badge.html' with is_active=user.is_active %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="attribute-label">Last Login</div>
                <div>{{ user.last_login }}</div>
            </div>
            <div class="col">
                <div class="attribute-label">Date Created</div>
                <div>{{ user.date_joined }}</div>
            </div>
        </div>
    </div>
</div>