{% extends 'django_spire/item/item.html' %}

{% block item_title %}
    <div class="attribute-label">Name</div>
    <div>Total Permissions</div>
{% endblock %}

{% block item_row_content %}
    {% for perm in user_perm_data %}
        <div class="col-lg-4 col-sm-3 col-4 mb-2">
            <div class="attribute-label">{{ perm.app_name }}</div>
            {% include 'django_spire/auth/group/element/group_perm_level_badge.html' with permission_level=perm.level_verbose %}
        </div>
    {% endfor %}
{% endblock %}

{% block item_button %}
    <span class="px-2"></span>
{% endblock %}
