{% extends 'base/base.html' %}

{% block example_content %}
    {% url 'ai:chat:home' as href %}
    {% include 'navigation/top_navigation.html' with title='AI Chat' href=href %}

    <div x-data="{

    }">

        <div class="row">

            <div class="col-6 text-end">
                {% url 'spire_ai:chat:json:workflow_process' as ai_chat_url %}
                {{ ai_chat_url }}
                {% include 'spire/ai/chat/widget/chat_widget.html' with url=ai_chat_url %}
            </div>

        </div>

    </div>
{% endblock %}
