{% extends 'django_spire/item/infinite_scroll_item.html' %}

{% block item_content %}
    <div class="align-items-center row">
        <div class="col-12 col-md-3">
            {% url 'infinite_scrolling:page:detail' pk=infinite_scrolling.pk as detail_url %}
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Infinite Scrolling' attribute_value=infinite_scrolling.name attribute_href=detail_url %}
        </div>

        <div class="col-12 col-md-6">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=infinite_scrolling.description|truncatechars:150 %}
        </div>

        <div class="col-12 col-md-2">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Created' attribute_value=infinite_scrolling.created_datetime|date:"M d, Y" %}
        </div>

        <div class="col-auto">
            {% url 'infinite_scrolling:form:detail_modal' pk=infinite_scrolling.pk as view_url %}
            {% url 'infinite_scrolling:form:update_modal' pk=infinite_scrolling.pk as edit_url %}
            {% url 'infinite_scrolling:form:delete_modal' pk=infinite_scrolling.pk as delete_url %}
            {% include 'django_spire/dropdown/ellipsis_modal_dropdown.html' with view_url=view_url edit_url=edit_url delete_url=delete_url %}
        </div>
    </div>
{% endblock %}
