{% extends 'django_spire/page/full_page.html' %}

{% block page_title %}Chart Demo - {{ block.super }}{% endblock %}

{% block full_page_content %}
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <i class="bi bi-bar-chart"></i> Static Bar Chart
                    </div>
                </div>
                <div class="card-body p-0">
                    {% include 'django_spire/chart/chart.html' with chart=static_chart %}
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <i class="bi bi-arrow-repeat"></i> Dynamic Bar Chart
                        <span class="badge text-bg-info align-middle">refreshes every ~3s</span>
                    </div>
                </div>
                <div class="card-body p-0">
                    {% include 'django_spire/chart/chart.html' with chart=dynamic_chart chart_glue_name='monthly_sales_chart' chart_update_interval=3 %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
