{% extends 'django_spire/glue/form/widget/widget.html' %}

{% block field_content %}
    <input
        type="{% block input_type %}{% endblock %}"
        {% block input_field_attrs %}{% endblock %}
        class="{% block input_field_class %}form-control{% endblock %}"
        x-model="value"
        x-ref="glue_field"
        :id="glue_field.id"
        :name="glue_field.name"
        :required="glue_field.required"
        :disabled="glue_field.disabled"
        :maxlength="glue_field.max_length"
        :minlength="glue_field.min_length"
        :class="{'is-invalid': glue_field.has_errors}"
    >
{% endblock %}