<span
    x-data="{
        clicked: false,
        copy_value_to_clipboard() {
            this.clicked = true;
            let text = '{{ value }}';

            {% if copy_func %}
            text = {{ copy_func }}(text);
            {% endif %}

            navigator.clipboard.writeText(text);
            setTimeout(() => {
                this.clicked = false;
            }, 600);
        }
    }"
>
    <i
        @click="copy_value_to_clipboard()"
        class="bi bi-copy cursor-pointer"
    ></i>
    <span
        x-show="clicked"
        x-transition:leave.duration.500ms
    >
        Copied!
    </span>
</span>
