{% extends 'django_spire/glue/component/scroll/base.html' %}

{% block scroll_list %}
    <div class="table-responsive">
        <table class="table {% block scroll_table_class %}table-sm table-hover{% endblock %}">
            <thead>
                {% block scroll_table_header %}{% endblock %}
            </thead>
            <tbody x-ref="list">
                {% block scroll_rows %}{{ block.super }}{% endblock %}
            </tbody>
            <tfoot>
                {% block scroll_table_footer %}{% endblock %}
            </tfoot>
        </table>
    </div>
{% endblock %}
