{% extends 'django_spire/page/full_page.html' %}

{% block full_page_sub_navigation_title %}
    Sub Navigation
{% endblock %}

{% block full_page_sub_navigation %}
    as
    sa
    sa
    s
    a
    sa
    as
    sa
    as
    as
    as
    as
    <br>
    as
    sa
    sa
    as
    as
    a
    <br>
    sa
    sa
    s
    a
    s
    a
    a
    <br>
    as
    as
    a
    s
    as
    a
    sa
    <br>
    s
    <br>
    a
    sa
    sa

{% endblock %}

{% block full_page_content %}
    <h2 class="mb-4">Theme Overview</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/colors_preview_card.html' with card_link=colors_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/typography_preview_card.html' with card_link=typography_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/buttons_preview_card.html' with card_link=buttons_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/badges_preview_card.html' with card_link=badges_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/borders_preview_card.html' with card_link=borders_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/django_glue_preview_card.html' with card_link=borders_url %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/example_preview_card.html' with card_link=borders_url %}
        </div>
    </div>
{% endblock %}

{% block full_page_info_navigation_title %}
    Info Navigation
{% endblock %}

{% block full_page_info_navigation %}
    INFORMATION NAV
{% endblock %}