<div
        x-data="{
            searchQuery: '',
            sliceStart: 0,
            sliceStop: 30,
            orderBy: '{% block scroll_queryset_order_by_field %}{% endblock %}',
            items: Glue.querySet.{% block scroll_queryset_unique_name %}{% endblock %},
            get queryParams() {
                return {
                    filter: {{% block scroll_queryset_filter_field %}{% endblock %}__icontains: this.searchQuery},
                    slice: {start: this.sliceStart, stop: this.sliceStop},
                    order_by: this.orderBy,
                };
            },
            toggleOrder() {
                this.orderBy = this.orderBy.startsWith('-') ? this.orderBy.slice(1) : '-' + this.orderBy
            },
            incrementSlice() {
                this.sliceStop += 60
            }
        }"
        class=""
>

    <div class="row">
        <div class="col">
            {% block scroll_header %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">

            {% block scroll_content %}

                <template x-for="item in items.queryWithParams(queryParams)">
                    {% block scroll_template_item %}
                    {% endblock %}
                </template>

            {% endblock %}

            <div
                    x-data="{
                        init() {
                            const observer = new IntersectionObserver((entries) => {entries.forEach(entry => {
                                    if (entry.isIntersecting) {
                                        incrementSlice()
                                    }
                                })}, { threshold: 0 })
                            observer.observe($el)
                        }
                    }"
                    style=" height: 100vh; margin-top: -100vh; pointer-events: none; "
            >
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col pb-5">
            {% block scroll_footer %}
            {% endblock %}
        </div>
    </div>


</div>