<div
        x-data="{
            searchQuery: '',
            sliceStart: 0,
            sliceStop: 30,
            orderBy: '{% block scroll_queryset_order_by_field %}{% endblock %}',
            filterField: '{% block scroll_queryset_filter_field %}{% endblock %}',
            scrollQuerySet: Glue.querySet.{% block scroll_queryset_unique_name %}{% endblock %},
            isLoading: false,
            hasMore: true,
            get scrollItems() {
                const array = Array.from(
                    this.scrollQuerySet
                    .filter({
                        [this.filterField + '__icontains']: this.searchQuery
                    })
                    .orderBy(this.orderBy)
                    .slice(this.sliceStart, this.sliceStop)
                )

                debugger 
                return array
            },
            toggleOrder() {
                this.orderBy = this.orderBy.startsWith('-') ? this.orderBy.slice(1) : '-' + this.orderBy
            },
            async incrementSlice() {
                if (this.isLoading || !this.hasMore) return

                this.isLoading = true
                this.sliceStop += 60
                await this.$nextTick()

                const querySet = this.scrollQuerySet
                    .filter({
                        [this.filterField + '__icontains']: this.searchQuery
                    })
                    .orderBy(this.orderBy)
                    .slice(this.sliceStart, this.sliceStop)

                querySet.items
                while (querySet.loading) {
                    await new Promise(resolve => setTimeout(resolve, 10))
                }

                this.hasMore = querySet.hasMore
                this.isLoading = false
            }
        }"
        class="{% block scroll_container_class %}{% endblock %}"
>

    <div class="row">
        <div class="col">
            {% block scroll_header %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">

            {% block scroll_content %}

                <template x-for="item in scrollItems">
                    {% block scroll_template_item %}
                    {% endblock %}
                </template>

            {% endblock %}

            <div
                    x-data="{
                        init() {
                            const observer = new IntersectionObserver((entries) => {
                                if (entries.some(entry => entry.isIntersecting)) {
                                    incrementSlice()
                                }
                            }, { threshold: 0.0 })
                            observer.observe($el)
                        }
                    }"
                    style=" height: 100vh; margin-top: -100vh; pointer-events: none; "
            >
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col pb-5">
            {% block scroll_footer %}
            {% endblock %}
        </div>
    </div>


</div>
