<form class="text-app-secondary" method="post">
    {% csrf_token %}

    <div class="form-group">

        <div class="row mt-2">
            <div class="col">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <input class="form-control" type="text" name="{{ form.username.name }}"
                       id="{{ form.username.id_for_label }}"
                       value="{{ form.username.value|default:'' }}">
                {% if form.username.errors %}
                    <ul>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <input class="form-control" type="password" name="{{ form.password.name }}"
                       id="{{ form.password.id_for_label }}"
                       value="{{ form.password.value|default:'' }}">
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="d-block mx-auto btn btn-app-primary-outlined w-100">Login</button>
            </div>
        </div>

    </div>
</form>
