{% extends 'django_spire/table/element/row.html' %}

{% block row_has_children %}{{ row.user_count|default:0 }} > 0{% endblock %}

{% block table_cells %}
    <td width="40%">
        <div class="fw-medium">{{ row.name|truncatechars:75 }}</div>
        <div class="small text-muted">{{ row.description }}</div>
    </td>

    <td>
        {% include 'queryset_filtering/element/queryset_filtering_status_badge.html' with status=row.get_status_display %}
    </td>

    <td>{{ row.users.count }}</td>

    <td>${{ row.calculated_cost|floatformat:2 }}</td>

    <td>{{ row.created_datetime|date:"M d, Y" }}</td>

    <td>
        {% url 'tabular:form:update_modal' pk=row.pk as edit_url %}
        {% url 'tabular:form:delete_modal' pk=row.pk as delete_url %}

        {% include 'django_spire/dropdown/ellipsis_table_dropdown.html' with edit_url=edit_url delete_url=delete_url %}
    </td>
{% endblock %}

{% block child_row %}
    {% url 'tabular:template:user_rows' task_id=row.pk as child_endpoint %}
    {% include 'django_spire/table/element/child_row.html' with child_endpoint=child_endpoint %}
{% endblock %}
