<div
    class="knowledge-nav-item cursor-pointer row pt-2 pb-1"
    :class="collection.id === current_collection_id && !current_version_id ? 'bg-app-primary-soft rounded-2' : ''"
>
    <div
        class="col text-start"
        @click="toggle_expand(collection.id)"
    >
        <i
            :class="is_expanded(collection.id) ? 'bi bi-chevron-down' : 'bi bi-chevron-right'"
            {% if hide_chevron %}
            style="visibility: hidden"
            {% else %}
            :style="{visibility: (collection.has_child_collections() || collection.has_entries()) ? 'visible' : 'hidden'}"
            {% endif %}
        ></i>
        <i
            class="bi"
            :class="is_expanded(collection.id) ? 'bi-folder2-open' : 'bi-folder2'"
        ></i>
        <span class="text-truncate" x-text="collection.name"></span>
    </div>
    {% if AuthController.knowledge.can_view %}
        <div class="col-auto">
            {% include 'django_spire/knowledge/navigation/item/collection/dropdown/navigation_ellipsis_dropdown.html' %}
        </div>
    {% endif %}
</div>
