{% extends 'django_spire/modal/modal.html' %}

{% block modal_trigger %}
    {% include 'django_spire/button/primary_button.html' with button_text='Add Duck' button_icon='bi bi-plus-lg' %}
{% endblock %}

{% block modal_content %}
    <div
        x-data="{
            modal_content: new ViewGlue('{% url "ordering:form:form_modal_content" pk=0 %}'),

            async init(){
                await this.modal_content.render_inner(this.$refs.content)
            }
        }"
    >
        <div x-ref="content">
        </div>
    </div>
{% endblock %}

