{% if celery_tasks %}
    {% for celery_task in celery_tasks %}
        <div
            x-data="{
            reload_task() {
                let task_view = new ViewGlue(`/django_spire/celery/task/{{ celery_task.key }}/`)
                task_view.render_inner($el, {})
            },
        }"
            class="toast show mb-3 bg-app-layer-two shadow-sm border-0"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
        >
            {% include 'django_spire/celery/task.html' %}
        </div>
    {% endfor %}
{% endif %}
