{% extends 'django_spire/glue/form/form.html' %}

{% block glue_form_unique_name %}section_form{% endblock %}

{% block glue_form_content %}
    <div class="row g-3">
        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/choice/field.html' with glue_field='glue_form.$fields.slide' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/choice/field.html' with glue_field='glue_form.$fields.visual' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/integer/field.html' with glue_field='glue_form.$fields.row' %}
        </div>

        <div class="col-md-6">
            {% include 'django_spire/glue/form/field/integer/field.html' with glue_field='glue_form.$fields.col' %}
        </div>
    </div>
{% endblock %}
