{% extends 'django_spire/item/item.html' %}

{% block item_title %}
    <div class="row m-0">
        <div class="col-auto">
            <i style="cursor: grab" x-sort:handle class="align-self-center bi bi-grip-vertical p-0"></i>
            <i x-show="collection.has_children()" class="align-self-center bi bi-chevron-down p-0 cursor-pointer" @click="collection.toggle_show_children({value: !collection.show_children})"></i>
        </div>
        <div
            x-data="{
                collection_detail_url: '{% url "django_spire:knowledge:collection:page:detail" pk=0 %}'.replace(0, collection.id)
            }"
            class="col"
        >
            {% include 'django_spire/element/attribute_element.html' with x_attribute_value='collection.name' x_attribute_href='collection_detail_url' %}
        </div>
    </div>
{% endblock %}

{% block item_row_content %}
    <div class="col-12 align-self-center">
        <span x-text="collection.description"></span>
    </div>
{% endblock %}

{% block item_button %}
    <div
        x-data="{
            detail_url: '{% url "django_spire:knowledge:collection:page:detail" pk=0 %}'.replace(0, collection.id),
            edit_url: '{% url "django_spire:knowledge:collection:form:update" pk=0 %}'.replace(0, collection.id),
            delete_url: '{% url "django_spire:knowledge:collection:page:delete" pk=0 %}'.replace(0, collection.id)
        }"
    >
        {% include 'django_spire/dropdown/ellipsis_dropdown.html' with x_view_url='detail_url' x_edit_url='edit_url' x_delete_url='delete_url' %}
    </div>
{% endblock %}

