{% extends 'django_spire/item/item.html' %}

{% block item_title %}
    <div class="row m-0">
        <i style="cursor: grab" x-sort:handle class="col-auto align-self-center bi bi-grip-vertical p-0"></i>
        <div
            x-data="{
                collection_detail_url: '{% url "django_spire:knowledge:collection:page:detail" pk=0 %}'.replace(0, collection.id)
            }"
            class="col"
        >
            {% include 'django_spire/element/attribute_element.html' with x_attribute_value='collection.name' x_click='collection_detail_url' %}
        </div>
    </div>
{% endblock %}

{% block item_row_content %}
    <div class="col-4 align-self-center">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Parent Collection' attribute_value=collection.parent|default:"None" %}
    </div>
    <div class="col-8 align-self-center">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' x_attribute_value='collection.description' %}
    </div>
{% endblock %}

{% block item_button %}
    {% url 'django_spire:knowledge:collection:page:detail' pk=collection.pk as collection_detail_url %}
    {% url 'django_spire:knowledge:collection:form:update' pk=collection.pk as collection_edit_url %}
    {% url 'django_spire:knowledge:collection:page:delete' pk=collection.pk as collection_delete_url %}
    {% include 'django_spire/dropdown/ellipsis_dropdown.html' with view_url=collection_detail_url edit_url=collection_edit_url delete_url=collection_delete_url %}
{% endblock %}

