<ol
        class="breadcrumb text-body text-decoration-none fs-7"
        style="--bs-breadcrumb-divider: '>';"
>
    {% if django_spire_navigation.home_href %}
        <li class="breadcrumb-item">
            <a href="{{ django_spire_navigation.home_href }}">
                <i class="bi bi-house-fill"></i>
            </a>
        </li>
    {% endif %}

    {% for breadcrumb in django_spire_navigation.breadcrumbs %}
        <li class="breadcrumb-item">
            {% if breadcrumb.href and forloop.counter != breadcrumb_list|length %}
                <a href="{{ breadcrumb.href }}">
                    {{ breadcrumb.name }}
                </a>
            {% else %}
                {{ breadcrumb.name }}
            {% endif %}
        </li>
    {% endfor %}
</ol>
