<ol
        class="breadcrumb text-body fs-7"
        style="--bs-breadcrumb-divider: '>';"
>
    {% if django_spire_navigation.home_href %}
        <li class="breadcrumb-item">
            <a href="{{ django_spire_navigation.home_href }}">
                <i class="bi bi-house-fill"></i>
            </a>
        </li>
    {% endif %}

    {% for breadcrumb in django_spire_navigation.breadcrumbs %}
        <li class="breadcrumb-item">
            {% if breadcrumb.href and forloop.counter != breadcrumb_list|length %}
                <a href="{{ breadcrumb.href }}" class="text-decoration-none">
                    {{ breadcrumb.name }}
                </a>
            {% else %}
                {{ breadcrumb.name }}
            {% endif %}
        </li>
    {% endfor %}
    {% if django_spire_navigation.help_template %}
        {% include 'django_spire/help/help_modal.html' with help_template=help_template only %}
    {% endif %}
</ol>
