{% load static %}

<div class="position-fixed bg-app-side-bar d-block" style="width: 180px; height: 100vh">
    <div class="text-center mt-2">
        <a
            class="text-decoration-none mx-auto"
            href="/"
        >
            <div class="text-center d-flex justify-content-center">
                <img src="{% static 'img/django_spire.svg' %}" height="100" alt="Django Spire Logo">
            </div>
        </a>
    </div>
    <ul class="nav nav-pills flex-column mt-2 mx-1 p-2">
        {% include 'spire/navigation/navigation_links.html' %}
    </ul>
</div>
