<div class="card">
    <div class="card-body p-2">
        <span class="fs-5 p-2">{{ statistic.group.domain.sub_domain_name }}</span>

        {% if sub_domains %}
            <div class="table-responsive">
                <table class="table table-light table-hover">
                    <thead>
                    <tr>
                        <th class="fw-medium">Name</th>
                        <th class="fw-medium">Key</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub_domain in sub_domains %}
                        <tr>
                            <td>
                                <a class='text-decoration-none'
                                   href="{% url 'django_spire:metric:domain:page:subdomain_detail' domain_pk=sub_domain.domain.pk pk=sub_domain.pk %}">
                                    {{ sub_domain.name }}
                                </a>
                            </td>
                            <td>
                                <code>{{ sub_domain.key }}</code>
                                {% include 'django_spire/element/copy_to_clipboard_element.html' with value=sub_domain.key %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
</div>