{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    {{ statistic.group.domain.sub_domain_name }}
{% endblock %}

{% block card_title_content %}
    <div class="card-body p-2">
        {% if sub_domains %}
            <div class="table-responsive">
                <table class="table table-light table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Key</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub_domain in sub_domains %}
                        <tr>
                            <td>
                                <a class='text-decoration-none' href="{% url 'django_spire:metric:domain:page:subdomain_detail' domain_pk=sub_domain.domain.pk pk=sub_domain.pk %}">
                                    {{ sub_domain.name }}
                                </a>
                            </td>
                            <td>
                                <code>{{ sub_domain.key }}</code>
                                {% include 'django_spire/element/copy_to_clipboard_element.html' with value=sub_domain.key %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
{% endblock %}
