{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Today's Values
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if values %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Date</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td>{{ value.reference }}</td>
                                <td>{{ value.date }}</td>
                                <td>{{ value.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
{% endblock %}
