{% extends 'django_spire/card/title_card.html' %}
{% load django_spire_metric_statistic %}

{% block card_title %}
    {{ statistic.get_interval_display }} Values
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if values %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Sub Domain</th>
                            <th>Timestamp</th>
                            <th class="text-end">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td>{{ value.reference }}</td>
                                <td>{{ value.sub_domain }}</td>
                                <td>{{ value.timestamp }}</td>
                                <td class="{{ value.value|statistic_value_class:statistic.value_type }} text-end">{{ value.value|statistic_value:statistic.value_type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
{% endblock %}
