<div class="card">
    <div class="card-body p-2">
        <span class="fs-5 p-2">Visuals</span>
        {% if visuals %}
            <div class="table-responsive">
                <table class="table table-light table-hover">
                    <thead>
                    <tr>
                        <th class="fw-medium">Name</th>
                        <th class="fw-medium">Kind</th>
                        <th class="text-end fw-medium">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visual in visuals %}
                        {% url 'django_spire:metric:visual:page:detail' pk=visual.pk as visual_detail_url %}
                        <tr>
                            <td>
                                <a class='text-decoration-none' href="{{ visual_detail_url }}">{{ visual.name }}</a>
                            </td>
                            <td>{{ visual.get_kind_display }}</td>
                            <td class="text-end">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ visual_detail_url }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="ps-2">
                {% include 'django_spire/item/no_data_item.html' %}
            </div>
        {% endif %}
    </div>
</div>