{% extends 'django_spire/dropdown/ellipsis_dropdown.html' %}

{% block dropdown_content %}
    {% if AuthController.knowledge.can_change %}
        {% url 'django_spire:knowledge:collection:form:update' pk=collection.pk as edit_url %}
        <li>
            <a class="dropdown-item d-flex align-items-center gap-2" href="{{ edit_url }}">
                <i class="bi bi-pencil"></i>Edit Collection
            </a>
        </li>
    {% endif %}

    {% if AuthController.knowledge.can_add %}
        {% url 'django_spire:knowledge:entry:form:create' collection_pk=collection.pk as create_entry_url %}
        <li>
            <a class="dropdown-item d-flex align-items-center gap-2" href="{{ create_entry_url }}">
                <i class="bi bi-plus"></i>Add Entry
            </a>
        </li>

        {% url 'django_spire:knowledge:entry:form:import' collection_pk=collection.pk as import_entry_url %}
        <li>
            <a class="dropdown-item d-flex align-items-center gap-2" href="{{ import_entry_url }}">
                <i class="bi bi-upload"></i>Import Entry
            </a>
        </li>
    {% endif %}

    {% if AuthController.knowledge.can_delete %}
        {% url 'django_spire:knowledge:collection:page:delete' pk=collection.pk as delete_url %}
        <li>
            <a class="dropdown-item d-flex align-items-center gap-2 text-app-danger" href="{{ delete_url }}">
                <i class="bi bi-trash3"></i>Delete Collection
            </a>
        </li>
    {% endif %}
{% endblock %}

