<div
    x-data="{
        user_search: '',
        found_items: new Map(),
        show_context_menu: false,
        context_menu_x: 0,
        context_menu_y: 0,
        focused_object: {},
        focused_type: '',
        title: '',
        manager: new CollectionManager({{ collection_tree_json }}),
        is_dragging: false,

        init() {
            {% if collection.id %}
                this.manager.open_path_to({collection_id: {{ collection.id }}})
            {% endif %}
        },

        toggle_dragging(value) {
            this.is_dragging = value
        },

        async move_collection({collection, order, new_parent}) {
            let response = null
            try {
                response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:collection:json:reorder" %}',
                    {payload: {collection_id: collection.id, order: order, parent: new_parent}}
                )
            } catch (e) {
                 $dispatch('notify', {'type': 'error', 'message': 'An unexpected error has occured. Please refresh the page and try again.'})
            }

            if (response.type === 'error') {
                $dispatch('notify', {'type': response.type, 'message': response.message})
            }

            this.manager.set_parent({collection: collection, parent_id: new_parent})
        },

        async move_entry({entry, collection, order}) {
            let response = null
            try {
                response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:entry:json:reorder" %}',
                    {payload: {entry_id: entry.entry_id, order: order, collection_id: collection.id}}
                )
            } catch (e) {
                 $dispatch('notify', {'type': 'error', 'message': 'An unexpected error has occured. Please refresh the page and try again.'})
            }

            if (response.type === 'error') {
                $dispatch('notify', {'type': response.type, 'message': response.message})
            }
        },

        search() {
            let item_map = new Map()
            const query = this.user_search.toLocaleLowerCase()
            document.querySelector('.search-items').style.display = query ? 'block' : 'none'
            document.querySelector('.navigation-items').style.display = query ? 'none' : 'block'
            document.querySelectorAll('.collection, .entry').forEach(div => {
                let div_id =  div.id.toLocaleLowerCase()

                let item = {}
                if (div.classList.contains('collection')) {
                    item = Alpine.$data(div).collection
                } else {
                    item = Alpine.$data(div).entry
                }

                if (div_id.includes(query)) {
                    item_map.set(item, item)
                } else {
                    item_map.delete(item)
                }
            })

            if (!query) {
                this.found_items.clear()
            } else {
                this.found_items = item_map
            }
        },
    }"
>
    {% include 'django_spire/knowledge/collection/navigation/content/navigation_content.html' %}
</div>
