{% extends 'django_spire/core/templates/django_spire/infinite_scroll/item.html' %}

{% block item_content %}
    <div class="row">
        <div class="col-3">
            <div class="attribute-label">Name</div>
            <div>{{ task.name }}</div>
        </div>

        <div class="col-3">
            <div class="attribute-label">Status</div>
            <div>{{ task.get_status_display }}</div>
        </div>

        <div class="col-3">
            <div class="attribute-label">Users</div>
            {% for user_initial in task.user_initials %}
                {{ user_initial }}
            {% endfor %}
        </div>

        <div class="col-12 fs--2 text-muted">
            {{ task.description }}
        </div>
    </div>
{% endblock %}
