{% extends 'django_spire/modal/title_modal.html' %}

{% load django_spire_comment_tags %}

{% block modal_trigger %}
    {% include 'django_spire/button/button.html' with button_class='btn-app-secondary-outlined' button_icon='bi bi-plus' button_text='' %}
{% endblock %}

{% block modal_title %}
    Add Comment
{% endblock %}

{% block modal_title_content %}
    {% comment_form related_obj request.get_full_path request.user user_list=comment_user_list as comment_form %}
    <div class="h6">Comment*</div>
    {{ comment_form }}
{% endblock %}
