{% extends 'django_spire/page/full_page.html' %}

{% block base_head_additional_css %}
    <style>
        .slide-grid > .card {
            min-height: 0;
            overflow: hidden;
        }

        .slide-grid .card [data-chart-glue-name] {
            min-height: 0 !important;
        }
    </style>
{% endblock %}

{% block full_page_content %}
    <div class="row g-3">
        <div class="col-12">
            {% include 'django_spire/metric/visual/presentation/card/detail_card.html' %}
        </div>

        <div class="col-12">
            {% include 'django_spire/metric/visual/presentation/card/slides_card.html' %}
        </div>

        <div class="col-12">
            {% include 'django_spire/activity/card/list_card.html' with activity_log=activity_log %}
        </div>
    </div>
{% endblock %}
