{% extends 'django_spire/page/full_page.html' %}

{% load static %}

{% block base_head_additional_js %}
    <script src="{% static 'django_spire/js/session_controller.js' %}?v={{ DJANGO_SPIRE_VERSION }}" type="application/javascript"></script>
{% endblock %}

{% block full_page_content %}
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="fs-1 fw-semi-bold pt-4">Infinite Scrolling - Table</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'infinite_scrolling/card/table_card.html' %}
        </div>
    </div>
{% endblock %}
