{% extends 'django_spire/page/full_page.html' %}

{% block full_page_content %}
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <div class="fw-semibold">{{ form_title }}</div>
                <div class="small text-muted">{{ form_description }}</div>
            </div>
            <a class="btn btn-sm btn-outline-secondary"
               href="{% url 'django_spire:metric:visual:page:detail' pk=visual.pk %}">
                <i class="bi bi-arrow-left"></i>
                Back to Visual
            </a>
        </div>
        <div class="card-body">
            {% include 'django_spire/metric/visual/form/reference_form.html' %}
        </div>
    </div>
{% endblock %}
