{% extends 'django_spire/card/title_card.html' %}

{% block card_title_content_style %}{% endblock %}

{% block card_title %}
    Collections
{% endblock %}

{% block card_button %}
    {% url 'django_spire:knowledge:collection:form:create' as create_url %}
    {% include 'django_spire/button/primary_button.html' with button_text='Add' button_href=create_url button_icon="bi bi-plus" %}
{% endblock %}

{% block card_title_content %}
    <div
        x-data="{
            manager: new CollectionManager({{ collection_tree_json }}),

            async move_collection({collection, order}) {
                let response = null
                try {
                    response = await django_glue_fetch(
                        '{% url "django_spire:knowledge:collection:json:reorder" pk=0 %}'.replace(0, collection.id),
                        {payload: {order: order, parent: collection.parent.id}}
                    )
                } catch (e) {
                    console.log(e)
                    //window.location.reload()
                }

                if (response.type === 'error') {
                    $dispatch('notify', {'type': response.type, 'message': response.message})
                }
            }
        }"
        x-sort="await move_collection({collection: $item, order: $position})"
        x-sort:config="{handle: '[x-sort\\:handle]'}"
    >
        {% include 'django_spire/knowledge/collection/component/x_collection_tree.html' %}

        <x-collection-tree :data="{items: manager.collection_map}"></x-collection-tree>
    </div>
{% endblock %}
