{% extends 'django_spire/card/title_card.html' %}

{% block card_title_content_style %}{% endblock %}

{% block card_title %}
    Collections
{% endblock %}

{% block card_button %}
    {% url 'django_spire:knowledge:collection:form:create' as create_url %}
    {% include 'django_spire/button/primary_button.html' with button_text='Add' button_href=create_url button_icon="bi bi-plus" %}
{% endblock %}

{% block card_title_content %}
    <div
        x-data="{
            manager: new CollectionManager({{ collection_tree_json }})
        }"
    >
        <template x-component="collection-tree">
            <template x-for="collection in items" :key="collection.id">
                <div>
                    {% include 'django_spire/knowledge/collection/item/list_item.html' %}
                    <div class="ms-2">
                        <x-collection-tree :items="collection.children"></x-collection-tree>
                    </div>
                </div>
            </template>
        </template>

        <x-collection-tree :items="manager.collection_map"></x-collection-tree>
    </div>
{% endblock %}
