{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Domain
{% endblock %}

{% block card_button %}
    {% if perms.metric_domain.change_domain %}
        {% url 'metric:domain:form:update' pk=domain.pk as domain_edit_url %}
        <a class="btn btn-sm btn-primary" href="{{ domain_edit_url }}">
            <i class="bi bi-pencil"></i>
            Edit
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                {% include 'django_spire/element/attribute_element.html' with attribute_title='Name' attribute_value=domain.name %}
            </div>

            <div class="col-12">
                {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=domain.description|linebreaksbr %}
            </div>
        </div>
    </div>
{% endblock %}
