{% extends 'django_spire/card/title_card.html' %}

{% load django_spire_pagination %}

{% block card_title %}
    Domains
{% endblock %}

{% block card_button %}
    {% if perms.metric_domain.add_domain %}
        {% url 'django_spire:metric:domain:form:create' as new_domain_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_domain_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if domains %}
            {% include 'django_spire/metric/domain/scroll/scroll.html' %}
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>

    {#    <div class="card-body">#}
    {#        {% for domain in domains %}#}
    {#            {% include 'django_spire/metric/domain/item/item.html' %}#}
    {#        {% empty %}#}
    {#            No data to display#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}
