{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Domains
{% endblock %}

{% block card_button %}
    {% if perms.metric_domain.add_domain %}
        {% url 'metric:domain:form:create' as new_domain_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_domain_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if domains %}
            {% for domain in domains %}
            {% endfor %}
        {% else %}
            No Domains
        {% endif %}
    </div>
{% endblock %}
