{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Sub Domains
{% endblock %}

{% block card_button %}
    {% if perms.metric_domain.add_subdomain %}
        {% url 'django_spire:metric:domain:form:create_subdomain' domain_pk=domain.pk as new_subdomain_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_subdomain_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% if subdomains %}
            {% include 'django_spire/metric/domain/scroll/subdomain_scroll.html' %}
        {% else %}
            {% include 'django_spire/item/no_data_item.html' %}
        {% endif %}
    </div>
{% endblock %}
