<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <div class="attribute-label">Description</div>
                <div>{{ subdomain.description }}</div>
            </div>
            <div class="col-auto">
                {% if perms.django_spire_metric_domain.change_subdomain %}
                    {% url 'django_spire:metric:domain:form:subdomain_form' domain_pk=domain_pk pk=subdomain.pk as subdomain_edit_url %}
                    <a class="btn btn-sm btn-primary text-white" href="{{ subdomain_edit_url }}">
                        <i class="bi bi-pencil"></i>
                        <span class="d-none d-sm-inline">Edit</span>
                    </a>
                {% endif %}

                {% if perms.django_spire_metric_domain.delete_subdomain %}
                    {% url 'django_spire:metric:domain:form:delete_subdomain' domain_pk=domain_pk pk=subdomain.pk as subdomain_delete_url %}
                    <a class="btn btn-sm btn-primary text-white"
                       href="{{ subdomain_delete_url }}?return_url={% url 'django_spire:metric:domain:page:detail' pk=domain_pk %}">
                        <i class="bi bi-eraser"></i>
                        <span class="d-none d-sm-inline">Delete</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>