{% extends 'spire/base/base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/app.css' %}?v={{ DJANGO_SPIRE_VERSION }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-override.css' %}?v={{ DJANGO_SPIRE_VERSION }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extension.css' %}?v={{ DJANGO_SPIRE_VERSION }}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ DJANGO_SPIRE_VERSION }}">

    <script type="application/javascript" src="{% static 'spire/js/modal.js' %}?v={{ DJANGO_SPIRE_VERSION }}"></script>
{% endblock %}

{% block js_script %}
    {{ block.super }}
{% endblock %}

{% block base_content %}
    {{ block.super }}

    {% block example_content %}
    {% endblock %}

    {% block example_footer %}
        {% include 'core/footer/footer.html' %}
    {% endblock %}
{% endblock %}

{% block js_include_bottom %}
    {{ block.super }}
{% endblock %}
