{% extends 'django_spire/item/item.html' %}

{% block item_title_col %}4{% endblock %}

{% block item_title %}
    <a href="{% url 'django_spire:metric:domain:statistic:page:detail' pk=item.pk %}">
        {{ item.name }}
    </a>
{% endblock %}

{% block item_row_content %}
    <div class="col-6 col-lg-3 text-start">
        <div class="attribute-label">Group</div>
        <div>{{ item.group }}</div>
    </div>
    <div class="col-6 col-lg-3 text-start">
        <div class="attribute-label">Interval</div>
        <div>{{ item.get_interval_display }}</div>
    </div>
    <div class="col-6 col-lg-3 text-start">
        <div class="attribute-label">Domain</div>
        <div>{{ item.group.domain }}</div>
    </div>
{% endblock %}

{% block item_button %}
    {% url 'django_spire:metric:domain:statistic:page:detail' pk=item.pk as view_url %}
    {% url 'django_spire:metric:domain:statistic:form:update' pk=item.pk as edit_url %}
    {% url 'django_spire:metric:domain:statistic:form:delete' pk=item.pk as delete_url %}
    {% url 'django_spire:metric:domain:statistic:page:list' as statistic_list_url %}
    {% include 'django_spire/dropdown/ellipsis_dropdown.html' with view_url=view_url edit_url=edit_url delete_url=delete_url|add:'?return_url='|add:statistic_list_url %}
{% endblock %}
