{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Presentations
{% endblock %}

{% block card_button %}
    {% if perms.visual_presentation.add_presentation %}
        {% url 'metric:visual:presentation:form:create' as new_presentation_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_presentation_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% include 'django_spire/metric/visual/presentation/container/list_container.html' with endpoint=presentation_items_endpoint %}
    </div>
{% endblock %}
