{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Infinite Scrolling Details
{% endblock %}

{% block card_button %}
    {% if perms.infinite_scrolling.change_infinite_scrolling %}
        <div class="d-flex gap-2">
            {% url 'infinite_scrolling:form:update_modal' pk=infinite_scrolling.pk as update_url %}
            <a class="btn btn-sm btn-secondary btn-sm" href="{{ update_url }}">
                <i class="bi bi-pencil"></i>
                Edit
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-2" data-testid="detail-card-content">
            <div class="col-12 col-md-6">
                <div class="attribute-label">Name</div>
                <div>{{ infinite_scrolling.name }}</div>
            </div>
            <div class="col-12 col-md-6">
                <div class="attribute-label">Created</div>
                <div>{{ infinite_scrolling.created_datetime|date:"M d, Y g:i A" }}</div>
            </div>
            <div class="col-12">
                <div class="attribute-label">Description</div>
                <div>{{ infinite_scrolling.description|linebreaksbr }}</div>
            </div>
        </div>
    </div>
{% endblock %}
