{% if forloop.first %}
    <div
        x-data="{
            init() {
                this.$dispatch('total-count-updated', { total_count: {{ total_count }} });
            }
        }"
        style="display: none;"
    ></div>
{% endif %}

<tr
    class="align-middle"
    data-row-id="{{ row.pk }}"
    x-data="{
        row_id: '{{ row.pk }}',
        is_checked: false,
        is_open: false,
        is_loading: false,
        has_children: {% block row_has_children %}false{% endblock %},

        init() {
            this.$dispatch('row-mounted', { row_id: this.row_id });
        },

        handle_toggle_row_state(event) {
            if (event.detail.row_id === this.row_id) {
                this.is_open = event.detail.is_open;
                this.is_loading = event.detail.is_loading || false;
            }
        },

        handle_checkbox_change() {
            this.is_checked = !this.is_checked;

            if (this.is_checked) {
                this.$dispatch('row-selected', { row_id: this.row_id });
            } else {
                this.$dispatch('row-deselected', { row_id: this.row_id });
            }
        },

        handle_select_all_rows() {
            this.is_checked = true;
            this.$dispatch('row-selected', { row_id: this.row_id });
        },

        handle_deselect_all_rows() {
            this.is_checked = false;
            this.$dispatch('row-deselected', { row_id: this.row_id });
        }
    }"
    @deselect-all-rows.window="handle_deselect_all_rows()"
    @select-all-rows.window="handle_select_all_rows()"
    @toggle-row-state.window="handle_toggle_row_state($event)"
>
    <td>
        <input
            :checked="is_checked"
            @change="handle_checkbox_change()"
            type="checkbox"
        >
    </td>

    <td>
        <template x-if="has_children && is_loading">
            <i class="bi bi-arrow-clockwise spin"></i>
        </template>

        <template x-if="has_children && !is_loading">
            <i
                :class="is_open ? 'bi-chevron-down' : 'bi-chevron-right'"
                @click="$dispatch('toggle-row', { row_id: row_id })"
                class="bi cursor-pointer"
            ></i>
        </template>
    </td>

    {% block table_cells %}{% endblock %}
</tr>

<tr
    class="align-middle"
    x-data="{
        row_id: '{{ row.pk }}',
        is_open: false,
        has_loaded: false,
        pending_open: false,

        handle_toggle_row_state(event) {
            if (event.detail.row_id !== this.row_id) return;

            if (event.detail.is_open) {
                if (this.has_loaded) {
                    this.is_open = true;
                } else {
                    this.pending_open = true;
                }
            } else {
                this.is_open = false;
                this.pending_open = false;
            }
        },

        handle_update_child_row(event) {
            if (event.detail.parent_id !== this.row_id || !this.$refs.child_container) return;

            this.$refs.child_container.innerHTML = event.detail.content;
            this.has_loaded = true;

            if (this.pending_open) {
                this.is_open = true;
                this.pending_open = false;
            }
        }
    }"
    @toggle-row-state.window="handle_toggle_row_state($event)"
    @update-child-row.window="handle_update_child_row($event)"
>
    <td class="p-0" x-effect="$el.setAttribute('colspan', column_count)">
        <div
            x-show="is_open"
            x-collapse
            x-cloak
        >
            <div x-ref="child_container"></div>
        </div>
    </td>
</tr>
