<div
    class="d-flex align-items-center"
    x-data="{
        text_value: version_block.block.value,
        init() {
            $nextTick(() => {
                $refs.textarea.style.height = 'auto'
                $refs.textarea.style.height = $refs.textarea.scrollHeight + 'px'
            })

            $watch('editor.block_order_autofocus', () => {
                if (editor.block_order_autofocus === version_block.order) {
                    $refs.textarea.focus()
                }
            })

            if (editor.block_order_autofocus === version_block.order) {
                $refs.textarea.focus()
            }
        },
        delete_if_empty() {
            if (this.text_value === '') {
                delete_block({version_block_id: version_block.id})
            }
        },
        async update_text_value() {
            let response = await django_glue_fetch(
                '{% url "django_spire:knowledge:entry:block:json:update_text" pk=version_block.pk %}',
                {payload: {
                    value: this.text_value,
                    block_type: '{{ version_block.block.type }}'
                }},
            )

            if (response.type === 'error') {
                $dispatch('notify', {type: 'error', message: 'An error occurred while saving the text block.'})
            }
        },
        update_height(event) {
            event.target.style.height = 'auto'
            event.target.style.height = event.target.scrollHeight + 'px'
        }
    }"
>
    <style>
        textarea:focus {
            outline: none;
            border: none;
        }
    </style>
    <textarea
        x-ref="textarea"
        class="w-100 border-0 bg-transparent px-1 auto-resize overflow-y-hidden {% block textarea_class %}fs-6{% endblock %}"
        placeholder="Write something..."
        style="height: 30px; resize: none;"
        x-model="text_value"
        @input="update_height($event)"
        @beforeinput.debounce.300ms="update_text_value()"
        @keydown.backspace="delete_if_empty()"
{#        @keydown.enter="create_blank_block({block_type: 'text', order: version_block.order + 1})"#}
        rows="1"
    ></textarea>
</div>
