<div
        x-data="{
        is_processing: '{{ celery_task.is_processing }}',
        init() {
            if(this.is_processing === 'True') {
                const jittered_reload_delay = Math.floor(Math.random() * 2000) + 2000
                setTimeout(() => reload_task(), jittered_reload_delay)
            }
        }
    }"
        class="{{ task_header_class }} pe-1 py-1 border-0  {% if celery_task.is_processing %}text-app-primary bg-app-layer-three{% elif celery_task.is_successful %}text-app-success bg-app-success-soft{% elif celery_task.is_failed %}text-app-danger bg-app-danger-soft{% endif %}"
>
    <div class="me-auto fw-semibold">
        {% if celery_task.is_pending %}
            <i class="bi bi-hourglass"></i>
        {% elif celery_task.is_processing %}
            <div class="spinner-border spinner-border-sm text-app-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        {% elif celery_task.is_successful %}
            <i class="bi bi-check-circle-fill"></i>
        {% elif celery_task.is_failed %}
            <i class="bi bi-exclamation-circle-fill"></i>
        {% endif %}
        &nbsp;{{ celery_task.display_name }}
    </div>

    {% if show_task_header_close_button %}
        <div class="text-muted cursor-pointer py-1 px-2" data-bs-dismiss="toast" aria-label="Close"><i
                class="bi bi-x-lg"></i></div>
    {% endif %}

</div>

<div x-data="{
    progress: {{ celery_task.estimated_progress_hundred }},
    init() {
        if(this.progress > 0) {
            setInterval(() => {
                this.progress = Math.min(this.progress + {{ celery_task.estimated_progress_per_second_hundred }}, 100)
            }, 1200)
        }
    }
}" class="{{ task_body_class }} fs-7 py-2 text-muted">
    {% if celery_task.is_pending %}
        Pending
        <div class="progress mt-1" style="height: 3px;">
            <div class="progress-bar bg-app-primary" role="progressbar"
                 style="width: 0%;"
                 aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    {% elif celery_task.is_processing %}
        {{ celery_task.state|title }}
        {% if celery_task.is_estimated_complete_soon %}
            • Completing Soon
        {% elif celery_task.is_remaining_time_unknown %}
            • Estimating
        {% elif celery_task.remaining_time_verbose %}
            • {{ celery_task.remaining_time_verbose }} remaining
        {% else %}
            • Completing Soon
        {% endif %}
            <div class="progress mt-1" style="height: 3px;">
                <div class="progress-bar bg-app-primary" role="progressbar"
                     :style="{ width: progress + '%' }"
                     aria-valuenow="{{ celery_task.progress_hundred }}" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>

    {% elif celery_task.is_successful %}
        Completed at {{ celery_task.completed_datetime|date:'g:i a l, F jS' }}
        <div class="fs-8">Took {{ celery_task.completion_time_verbose }}</div>

    {% elif celery_task.is_failed %}
        Task Encountered an Error or Took to Long
        <div class="fs-8">Please try again, if the issues persists contact support</div>
    {% endif %}
</div>
