{% extends 'django_spire/container/container.html' %}

{% block container_title %}
    <div class="ps-3">
        {{ entry.name }}
    </div>
{% endblock %}

{% block container_content %}
    <div
        x-data="{
            first_load: true,
            init() {
                this.editor = new Editor({
                    id: {{ current_version.pk }},
                    version_blocks_json: {{ version_blocks_json }}
                })
            },
            async create_blank_block({block_type, order}) {
                let response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:entry:json:create_blank_block" pk=current_version.pk %}',
                    {payload: {block_type: block_type, order: order}},
                )
                if (response.type === 'error') {
                    $dispatch('notify', {type:'error', message: 'An error occurred while creating the block.'})
                } else {
                    let block_data = JSON.parse(response.entry_version_block_json)
                    this.editor.insert_blank_block(
                        {
                            id: block_data.id,
                            block_type: block_data.type,
                            order: block_data.order,
                            update_template_rendered: block_data.block.update_template_rendered
                        }
                    )
                }
            },
            async delete_block({version_block_id}) {
                let response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:entry:json:delete_block" pk=current_version.pk %}',
                    {payload: {version_block_pk: version_block_id}},
                )
                if (response.type === 'error') {
                    $dispatch('notify', {type: 'error', message: 'An error occurred while deleting the block.'})
                } else {
                    this.editor.delete_block({id: version_block_id})
                }
            }
        }"
    >
        <template x-for="(version_block, index) in editor.entry_version.version_blocks" :key="version_block.id">
            <div class="row align-items-center">
                <div
                    class="col-auto pe-0"
                    :class="editor.block_order_focus === version_block.order ? 'opacity-100' : 'opacity-0'"
                >
                    {% include 'django_spire/knowledge/entry/editor/block/dropdown/add_dropdown.html' %}
                </div>
                <div class="col" x-html="version_block.block.update_template_rendered">
                </div>
            </div>
        </template>
    </div>
{% endblock %}
