{% extends 'django_spire/container/container.html' %}

{% block container_title %}
    {{ entry.name }}
{% endblock %}

{% block container_content %}
    {% for version_block in version_blocks %}
        <div class="row align-items-center">
            <div class="col-auto pe-0">
                {% include 'django_spire/knowledge/entry/editor/block/dropdown/add_dropdown.html' %}
            </div>
            <div class="col">
                {% if version_block.block.edit_template %}
                    {% include version_block.block.edit_template %}
                {% else %}
                    {{ version_block.block.render_to_html|safe }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
