{% extends 'django_spire/container/container.html' %}

{% block container_title %}
    {{ entry.name }}
{% endblock %}

{% block container_content %}
    {% for version_block in version_blocks %}
        <div class="row">
            <div class="col-auto pe-0">
                {% include 'django_spire/knowledge/entry/editor/block/dropdown/add_dropdown.html' %}
            </div>
            <div class="col">
                {% include version_block.block.update_template with value=version_block.block.value %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
