{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
	Placeholder
{% endblock %}

{% block card_button %}
	{% if perms.placeholder.change_placeholder %}
        {% url 'placeholder:page:form' pk=placeholder.pk as placeholder_edit_url %}
        {% include 'django_spire/button/primary_dark_button.html' with button_text='Edit' button_icon='bi bi-pencil' button_href=placeholder_edit_url %}
    {% endif %}
{% endblock %}

{% block card_title_content %}
	<div class="row g-3">
        <div class="col-12">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Name' attribute_value=placeholder.name %}
        </div>

        <div class="col-12">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=placeholder.description|linebreaksbr %}
        </div>
    </div>
{% endblock %}
