{% extends 'django_spire/dropdown/ellipsis_dropdown.html' %}

{% block dropdown_content %}
    {% if AuthController.knowledge.can_change %}
        <span
            class="px-3 py-2 dropdown-item bg-app-layer-one bg-app-alt-layer-one-hover"
            @click="window.location.href = entry.edit_url"
        >
            <i class="bi bi-input-cursor-text pe-1"></i>
            <span>Rename</span>
        </span>
        <span
            class="px-3 py-2 dropdown-item bg-app-layer-one bg-app-alt-layer-one-hover"
            @click="window.location.href = entry.edit_version_url"
        >
            <i class="bi bi-pencil pe-1"></i>
            <span>Edit</span>
        </span>
    {% endif %}
    {% if AuthController.knowledge.can_delete %}
        <span
            class="px-3 py-2 text-app-danger dropdown-item bg-app-layer-one bg-app-danger-soft-hover"
            @click="window.location.href = entry.delete_url"
        >
            <i class="bi bi-trash3 pe-1"></i>
            <span>Delete</span>
        </span>
    {% endif %}
{% endblock %}

