{% extends 'spire/page/full_page.html' %}

{% block full_page_content %}
    <div class="row g-3">

        {% for app in example_apps %}
            {% if app.heading %}
                <div class="col-12">
                    <h2 class="text-app-primary">{{ app.heading }}</h2>
                </div>
            {% elif app.title %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    {% include 'home/card/app_display_card.html' with title=app.title icon_class=app.icon url=app.url %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}