@import '../variables';
@import '../font';

// Colors
$primary: #8839ef;
$primary-light: #cba6f7;
$secondary: #6c6f85;
$secondary-light: #a6adc8;

$success: #40a02b;
$warning: #df8e1d;
$danger: #d20f39;

$body-bg: #eff1f5;
$body-color: #4c4f69;
$body-color-dark: #cdd6f4;
$body-bg-dark: #181825;

$link-color: $primary;
$link-hover-color: #d20f39;
$link-color-dark: $primary-light;
$link-hover-color-dark: #f38ba8;

$border-color: #dce0e8;
$border-color-dark: #585b70;

$side-navigation-bg: #eff1f5;
$side-navigation-text-color: #4c4f69;
$side-navigation-link-color: #0097c9;
$side-navigation-link-hover-color: #007ba3;
$side-navigation-bg-dark: #181825;
$top-navigation-bg: #eff1f5;
$top-navigation-text-color: #4c4f69;
$top-navigation-link-color: #0097c9;
$top-navigation-link-hover-color: #007ba3;
$top-navigation-bg-dark: #181825;
$footer-bg: #eff1f5;
$footer-text-color: #4c4f69;
$footer-link-color: #0097c9;
$footer-link-hover-color: #007ba3;
$footer-bg-dark: #181825;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

:root,
[data-bs-theme=light] {
    --side-navigation-bg-color: #{$side-navigation-bg};
    --side-navigation-text-color: #{$side-navigation-text-color};
    --side-navigation-link-color: #{$side-navigation-link-color};
    --side-navigation-link-hover-color: #{$side-navigation-link-hover-color};
    --top-navigation-bg-color: #{$top-navigation-bg};
    --top-navigation-text-color: #{$top-navigation-text-color};
    --top-navigation-link-color: #{$top-navigation-link-color};
    --top-navigation-link-hover-color: #{$top-navigation-link-hover-color};
    --footer-bg-color: #{$footer-bg};
    --footer-text-color: #{$footer-text-color};
    --footer-link-color: #{$footer-link-color};
    --footer-link-hover-color: #{$footer-link-hover-color};
}

[data-bs-theme=dark] {
    --side-navigation-bg-color: #{$side-navigation-bg-dark};
    --top-navigation-bg-color: #{$top-navigation-bg-dark};
    --footer-bg-color: #{$footer-bg-dark};
}

@import '../components';
@import '../overrides';