@import '../font';
@import 'theme_variables';

$primary: #b57614;
$primary-light: #fabd2f;
$secondary: #665c54;
$secondary-light: #a89984;

$success: #79740e;
$warning: #b57614;
$danger: #af3a03;

$body-bg: #fbf1c7;
$body-color: #3c3836;
$body-color-dark: #ebdbb2;
$body-bg-dark: #282828;

$link-color: $primary;
$link-hover-color: #af3a03;
$link-color-dark: $primary-light;
$link-hover-color-dark: #fe8019;

$border-color: #ebdbb2;
$border-color-dark: #665c54;

$side-navigation-bg: #fbf1c7;
$side-navigation-text-color: #3c3836;
$side-navigation-link-color: #0097c9;
$side-navigation-link-hover-color: #007ba3;
$side-navigation-bg-dark: #282828;
$top-navigation-bg: #fbf1c7;
$top-navigation-text-color: #3c3836;
$top-navigation-link-color: #0097c9;
$top-navigation-link-hover-color: #007ba3;
$top-navigation-bg-dark: #282828;
$footer-bg: #fbf1c7;
$footer-text-color: #3c3836;
$footer-link-color: #0097c9;
$footer-link-hover-color: #007ba3;
$footer-bg-dark: #282828;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

@include theme-variables;

@import '../app';