@import '../font';
@import 'theme_variables';

$primary: #2196f3;
$primary-light: #90caf9;
$secondary: #607d8b;
$secondary-light: #b0bec5;

$success: #4caf50;
$warning: #ff9800;
$danger: #f44336;

$body-bg: #fafafa;
$body-color: #212121;
$body-color-dark: #ffffff;
$body-bg-dark: #121212;

$link-color: $primary;
$link-hover-color: #ff5722;
$link-color-dark: $primary-light;
$link-hover-color-dark: #ff8a65;

$border-color: #eeeeee;
$border-color-dark: #404040;

$side-navigation-bg: #fafafa;
$side-navigation-text-color: #212121;
$side-navigation-link-color: #0097c9;
$side-navigation-link-hover-color: #007ba3;
$side-navigation-bg-dark: #121212;
$top-navigation-bg: #fafafa;
$top-navigation-text-color: #212121;
$top-navigation-link-color: #0097c9;
$top-navigation-link-hover-color: #007ba3;
$top-navigation-bg-dark: #121212;
$footer-bg: #fafafa;
$footer-text-color: #212121;
$footer-link-color: #0097c9;
$footer-link-hover-color: #007ba3;
$footer-bg-dark: #121212;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

@include theme-variables;

@import '../app';