@import '../variables';
@import '../font';

// Colors
$primary: #5e81ac;
$primary-light: #81a1c1;
$secondary: #4c566a;
$secondary-light: #d8dee9;

$success: #a3be8c;
$warning: #ebcb8b;
$danger: #bf616a;

$body-bg: #eceff4;
$body-color: #2e3440;
$body-color-dark: #eceff4;
$body-bg-dark: #2e3440;

$link-color: $primary;
$link-hover-color: #bf616a;
$link-color-dark: $primary-light;
$link-hover-color-dark: #bf616a;

$border-color: #d8dee9;
$border-color-dark: #4c566a;

$side-navigation-bg: #eceff4;
$side-navigation-text-color: #2e3440;
$side-navigation-link-color: #0097c9;
$side-navigation-link-hover-color: #007ba3;
$side-navigation-bg-dark: #2e3440;
$top-navigation-bg: #eceff4;
$top-navigation-text-color: #2e3440;
$top-navigation-link-color: #0097c9;
$top-navigation-link-hover-color: #007ba3;
$top-navigation-bg-dark: #2e3440;
$footer-bg: #eceff4;
$footer-text-color: #2e3440;
$footer-link-color: #0097c9;
$footer-link-hover-color: #007ba3;
$footer-bg-dark: #2e3440;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

:root,
[data-bs-theme=light] {
    --side-navigation-bg-color: #{$side-navigation-bg};
    --side-navigation-text-color: #{$side-navigation-text-color};
    --side-navigation-link-color: #{$side-navigation-link-color};
    --side-navigation-link-hover-color: #{$side-navigation-link-hover-color};
    --top-navigation-bg-color: #{$top-navigation-bg};
    --top-navigation-text-color: #{$top-navigation-text-color};
    --top-navigation-link-color: #{$top-navigation-link-color};
    --top-navigation-link-hover-color: #{$top-navigation-link-hover-color};
    --footer-bg-color: #{$footer-bg};
    --footer-text-color: #{$footer-text-color};
    --footer-link-color: #{$footer-link-color};
    --footer-link-hover-color: #{$footer-link-hover-color};
}

[data-bs-theme=dark] {
    --side-navigation-bg-color: #{$side-navigation-bg-dark};
    --top-navigation-bg-color: #{$top-navigation-bg-dark};
    --footer-bg-color: #{$footer-bg-dark};
}

@import '../components';
@import '../overrides';