@import '../font';
@import 'theme_variables';

$primary: #4A90E2;
$primary-light: #82aaff;
$secondary: #8087a2;
$secondary-light: #676e95;

$success: #7CB342;
$warning: #FB8C00;
$danger: #E53935;

$body-bg: #fafafa;
$body-color: #4e5579;
$body-color-dark: #a6accd;
$body-bg-dark: #1e1e2e;

$link-color: $primary;
$link-hover-color: #7986CB;
$link-color-dark: $primary-light;
$link-hover-color-dark: #c792ea;

$border-color: #eeeff2;
$border-color-dark: #676e95;

$side-navigation-bg: #fafafa;
$side-navigation-text-color: #4e5579;
$side-navigation-link-color: #0097c9;
$side-navigation-link-hover-color: #007ba3;
$side-navigation-bg-dark: #1e1e2e;
$top-navigation-bg: #fafafa;
$top-navigation-text-color: #4e5579;
$top-navigation-link-color: #0097c9;
$top-navigation-link-hover-color: #007ba3;
$top-navigation-bg-dark: #1e1e2e;
$footer-bg: #fafafa;
$footer-text-color: #4e5579;
$footer-link-color: #0097c9;
$footer-link-hover-color: #007ba3;
$footer-bg-dark: #1e1e2e;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

@include theme-variables;

@import '../app';