@mixin theme-variables {
    :root,
    [data-bs-theme=light] {
        --side-navigation-bg-color: #{$side-navigation-bg};
        --side-navigation-text-color: #{$side-navigation-text-color};
        --side-navigation-link-color: #{$side-navigation-link-color};
        --side-navigation-link-hover-color: #{$side-navigation-link-hover-color};
        --top-navigation-bg-color: #{$top-navigation-bg};
        --top-navigation-text-color: #{$top-navigation-text-color};
        --top-navigation-link-color: #{$top-navigation-link-color};
        --top-navigation-link-hover-color: #{$top-navigation-link-hover-color};
        --footer-bg-color: #{$footer-bg};
        --footer-text-color: #{$footer-text-color};
        --footer-link-color: #{$footer-link-color};
        --footer-link-hover-color: #{$footer-link-hover-color};
    }

    [data-bs-theme=dark] {
        --side-navigation-bg-color: #{$side-navigation-bg-dark};
        --top-navigation-bg-color: #{$top-navigation-bg-dark};
        --footer-bg-color: #{$footer-bg-dark};
    }
}