@import '../font';
@import 'theme_variables';

$primary: #3d59a1;
$primary-light: #7aa2f7;
$secondary: #6f7bb6;
$secondary-light: #9aa5ce;

$success: #587539;
$warning: #8c6c3e;
$danger: #f52a65;

$body-bg: #d5d6db;
$body-color: #343b58;
$body-color-dark: #c0caf5;
$body-bg-dark: #16161e;

$link-color: $primary;
$link-hover-color: #f52a65;
$link-color-dark: $primary-light;
$link-hover-color-dark: #bb9af7;

$border-color: #e9eaef;
$border-color-dark: #3b4261;

$side-navigation-bg: #d5d6db;
$side-navigation-text-color: #343b58;
$side-navigation-link-color: #343b58;
$side-navigation-link-hover-color: #3d59a1;
$side-navigation-bg-dark: #16161e;
$top-navigation-bg: #d5d6db;
$top-navigation-text-color: #343b58;
$top-navigation-link-color: #343b58;
$top-navigation-link-hover-color: #3d59a1;
$top-navigation-bg-dark: #16161e;
$footer-bg: #d5d6db;
$footer-text-color: #343b58;
$footer-link-color: #343b58;
$footer-link-hover-color: #3d59a1;
$footer-bg-dark: #16161e;

$enable-dark-mode: true;

@import "bootstrap/scss/bootstrap";

@include theme-variables;

@import '../app';