<div
    class="row mb-2"
    x-data="{
        show_recent_chat: true,
        async delete_recent_chat() {
            let response = await django_glue_fetch(
                '{% url "django_spire:ai:chat:json:delete" pk=recent_chat.id %}',
            )

            let type = response.type
            if (type === 'success') {
                this.show_recent_chat = false
                dispatch_success_notification(response.message)
            } else {
                dispatch_error_notification(response.message)
            }
        }
    }"
    x-show="show_recent_chat"
>
    <div class="col-12">
        <div class="row justify-content-between btn shadow-sm btn-sm">
            <div
                class="col cursor-pointer ps-0"
                @click="() => {
                    load_chat({{ recent_chat.id }})
                    close_chat_select()
                }"
            >
                <i class="bi bi-chat-dots-fill"></i>
                {{ recent_chat.name }}
            </div>
            <div class="col-auto pe-0 w-25">
                {% include 'django_spire/ai/chat/dropdown/recent_chat_ellipse_dropdown.html' %}
            </div>
        </div>
    </div>
</div>
