<div
    class="mb-2"
    x-data="{
        can_rename_chat: false,
        chat_name: '{{ recent_chat.name|escapejs }}',
        new_chat_name: '{{ recent_chat.name|escapejs }}',
        show_recent_chat: true,

        disable_rename_chat() {
            this.can_rename_chat = false
        },
        enable_rename_chat() {
            this.can_rename_chat = true
        },
        async rename_chat() {
            let response = await django_glue_fetch(
                '{% url "django_spire:ai:chat:json:rename" pk=recent_chat.pk %}',
                {payload: {new_name: this.new_chat_name}}
            )

            let type = response.type
            if (type === 'success') {
                this.chat_name = this.new_chat_name
            } else {
                $dispatch('notify', {'type': type, 'message': response.message})
            }

            this.can_rename_chat = false
        }
    }"
    x-show="show_recent_chat"
    @deleted_chat.window="if (show_recent_chat) show_recent_chat = $event.detail !== {{ recent_chat.id }}"
>
    <div class="d-flex flex-wrap justify-content-between btn btn-sm w-100 text-muted">
        <div
            x-show="!can_rename_chat"
            class="col cursor-pointer px-0 text-start text-truncate"
            @click="$dispatch('load-chat', {chat_id: {{ recent_chat.id }}})"
        >
            <i class="bi bi-chat-dots-fill"></i>
            <span x-text="chat_name"></span>
        </div>
        <div
            x-show="can_rename_chat"
            class="col px-0 text-start"
        >
            <div class="d-flex flex-wrap align-items-center">
                <i class="col-auto bi bi-chat-dots-fill"></i>
                <input
                    @focus="$el.select()"
                    @keydown.enter="rename_chat()"
                    @keydown.esc="disable_rename_chat()"
                    class="col form-control d-inline p-0 mx-1 fs-7"
                    style="min-width: 100px;"
                    type="text"
                    x-model="new_chat_name"
                />
                <i
                    @click="rename_chat()"
                    class="col-auto bi bi-check fs-5 btn-hover"
                    title="Confirm"
                ></i>
                <i
                    @click="disable_rename_chat()"
                    class="col-auto bi bi-x fs-5 btn-hover"
                    title="Cancel"
                ></i>
            </div>
        </div>
        {% if not recent_chat.is_empty %}
            <div
                x-show="!can_rename_chat"
                class="col-auto px-0 text-end"
            >
                {% include 'django_spire/ai/chat/dropdown/ellipsis_dropdown.html' %}
            </div>
        {% endif %}
    </div>
</div>
