{% extends 'django_spire/lazy_tab/lazy_tab.html' %}

{% block tab_trigger %}
    {% include 'django_spire/lazy_tab/element/lazy_tab_trigger_element.html' with trigger_title='Items' endpoint=tab_items_endpoint %}
    {% include 'django_spire/lazy_tab/element/lazy_tab_trigger_element.html' with trigger_title='Table' endpoint=tab_table_endpoint %}
{% endblock %}

{% block tab_section %}
    {% include 'django_spire/lazy_tab/element/lazy_tab_section_element.html' %}
    {% include 'django_spire/lazy_tab/element/lazy_tab_section_element.html' %}
{% endblock %}
