<div class="py-3">
    <h5 class="fw-semi-bold mb-3">Settings</h5>
    <p class="text-app-secondary">
        Settings content loaded when this tab is first clicked.
    </p>
    <div class="row g-3 mt-2">
        <div class="col-md-6">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Cache Enabled' attribute_value='Yes' %}
        </div>
        <div class="col-md-6">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Auto Refresh' attribute_value='No' %}
        </div>
        <div class="col-md-6">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Persist Selection' attribute_value='URL & Cookie' %}
        </div>
        <div class="col-md-6">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Keyboard Navigation' attribute_value='Enabled' %}
        </div>
    </div>
</div>
