{% extends 'django_spire/dropdown/ellipsis_dropdown.html' %}
{% load django_glue %}
{% block dropdown_content %}
    <li><a class="dropdown-item d-flex align-items-center gap-2"
            :href="{% js_url 'django_spire:metric:domain:page:subdomain_detail' domain_pk='item.domain_id' pk='item.id' %}"><i
             class="bi bi-eye"></i>Detail</a></li>
    <li><a class="dropdown-item d-flex align-items-center gap-2"
            :href="{% js_url 'django_spire:metric:domain:form:subdomain_form' domain_pk='item.domain_id' pk='item.id' %}"><i
             class="bi bi-pencil"></i>Update</a></li>
    <li><a class="dropdown-item d-flex align-items-center gap-2 text-danger"
            :href="{% js_url 'django_spire:metric:domain:form:delete_subdomain' domain_pk='item.domain_id' pk='item.id' %}"><i
             class="bi bi-trash"></i>Delete</a></li>
{% endblock %}
