{% extends 'django_spire/page/full_page.html' %}

{% load static %}

{% block base_head_additional_css %}
    <link href="{% static 'django_spire/knowledge/css/navigation_items.css' %}?v={{ DJANGO_SPIRE_VERSION }}" rel="stylesheet">
{% endblock %}

{% block base_body_top_js %}
    <script src="{% static 'django_spire/knowledge/collection/js/managers.js' %}?v={{ DJANGO_SPIRE_VERSION }}" type="application/javascript"></script>
{% endblock %}

{% block full_page_sub_navigation_title %}
    Collections
{% endblock %}

{% block full_page_info_navigation_title %}
    More Info
{% endblock %}

{% block full_page_content %}
    <div class="main-content-with-panels">
        {% block knowledge_full_page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block base_body_additional_bottom_js %}
    <script src="{% static 'django_spire/knowledge/collection/js/x_component.js' %}?v={{ DJANGO_SPIRE_VERSION }}" type="application/javascript"></script>
{% endblock %}
