<div x-data="{
    glue_form: Glue.form.{% block glue_form_unique_name %}{% endblock %},
    is_processing: false,
    async submit_form() {
        this.is_processing = true;
        await this.glue_form.validate()
        let result = await this.glue_form.save_model_obj()
        if(result?.redirect_url) {
            window.location.href=result.redirect_url
        }
        this.is_processing = false
    }
}">

    {% block glue_form_content %}
    {% endblock %}

    <div class="row">
        <div class="col-12 mt-3">
            {% include 'django_spire/glue/form/button/submit_button.html' %}
        </div>
    </div>

</div>
