{% load json %}

<input type="hidden" name="{{ widget.name }}" value='{{ widget.value }}'>

<script src="//unpkg.com/alpinejs" defer></script>

<style>
    .key-text {
        color: #417690;
    }
    .copy-text {
        color: #529041;
    }
</style>

<div style="font-family: monospace; margin-left: -17px; float: left; clear: left;">
    <a href="javascript:" x-data="{
        clicked: false,
        copy_value_to_clipboard() {
            navigator.clipboard.writeText(JSON.stringify({{ widget.value }}))
            this.clicked = true
            setTimeout(() => {
                this.clicked = false
            }, 1000);
        }
    }" style="padding-left: 20px;">
        <span @click="copy_value_to_clipboard()" class="copy-text" style="font-weight: bold;">Copy Tree Raw JSON</span>
            <span style="font-weight: bold;"
                x-show="clicked"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.500ms
            >
                Copied!!!
            </span>
        </span>
    </a>
    {% include 'django_spire/forms/elements/dict_element.html' with dict=json_tree_dict %}
</div>