<div
    class="row g-2"
    x-data="{
        task_form: Glue.form.task_model_form,
        is_processing: false,
        async submit_form() {
            this.is_processing = true
            this.task_form.validate()
            let result = await this.task_form.process()
            if(result?.redirect_url) {
                window.location.href=result.redirect_url
            }
            this.is_processing = false
        }
    }"
>
    <div class="col-12">
        {% include 'django_spire/glue/form/field/char_field.html' with glue_field='task_form.$fields.name' %}
    </div>
    <div class="col-12">
        {% include 'django_spire/glue/form/field/text_field.html' with glue_field='task_form.$fields.description' %}
    </div>
    <div class="col-12">
        {% include 'django_spire/glue/form/field/select_field.html' with glue_field='task_form.$fields.status' %}
    </div>
    <div class="col-12 pt-4">
        {% include 'django_spire/glue/form/button/submit_button.html' %}
    </div>
</div>
