{% extends 'component/subsection/definition.html' %}

{% block subsection_content %}
    <p>A navigation component is used to create menus or navigation bars that allow users to move between different sections or pages of an application. It helps organize the site's structure and provides an intuitive way for users to access various features and information.</p>

    <p>Navigation components can include links, icons, and dropdowns, and can be styled to match the overall design of the application.</p>

    <ul>
        <li>Enables users to navigate between sections or pages.</li>
        <li>Organizes the site's structure for intuitive access.</li>
        <li>Can include links, icons, and dropdowns.</li>
        <li>Customizable to match the application's design.</li>
    </ul>
{% endblock %}
