{% extends 'spire/base/base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/app.css' %}?v={{ software.version }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-override.css' %}?v={{ software.version }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extension.css' %}?v={{ software.version }}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ software.version }}">
{% endblock %}

{% block js_script %}
    {{ block.super }}

    <script type="application/javascript" src="{% static 'spire/history/history.js' %}?v={{ software.version }}"></script>
{% endblock %}

{% block base_content %}
    {{ block.super }}
{% endblock %}

{% block js_include_bottom %}
    {{ block.super }}
{% endblock %}
