{% if status == 'New' %}
    {% include 'django_spire/badge/badge.html' with badge_text=status badge_class='bg-app-primary text-white' %}
{% elif status == 'In Progress' %}
    {% include 'django_spire/badge/badge.html' with badge_text=status badge_class='bg-app-secondary text-white' %}
{% elif status == 'Complete' %}
    {% include 'django_spire/badge/badge.html' with badge_text=status badge_class='bg-app-success text-white' %}
{% elif status == 'Cancelled' %}
    {% include 'django_spire/badge/badge.html' with badge_text=status badge_class='bg-app-warning text-white' %}
{% endif %}

