{% extends 'spire/base/base.html' %}

{% load static %}

{% block base_head_additional_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ DJANGO_SPIRE_VERSION }}">
{% endblock %}

{% block base_head_additional_js %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'spire/js/modal.js' %}?v={{ DJANGO_SPIRE_VERSION }}"></script>
{% endblock %}

{% block base_body_content %}
    {{ block.super }}

{% endblock %}

{% block base_body_additional_bottom_js %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'js/example.js' %}?v={{ DJANGO_SPIRE_VERSION }}"></script>
{% endblock %}
