{% extends 'django_spire/card/title_card.html' %}

{% load django_spire_model %}

{% block card_title %}
    Comments
{% endblock %}

{% block card_button %}
    {% with app_label=obj|model_app_label model_name=obj|model_name %}
        <span
                @click="Spire.modal.dispatchView('{% url "django_spire:comment:form_content" obj_pk=obj.pk comment_pk=0 app_label=app_label model_name=model_name %}')"
        >
            <a class="btn btn-sm btn-primary" href="#">
                <i class="bi bi-plus"></i>
                Add
            </a>
        </span>
    {% endwith %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% with obj.comments.active.prefetch_user as comments %}
            {% if comments %}
                {% for comment in comments %}
                    {% include 'django_spire/comment/item/comment_item.html' %}
                {% endfor %}
            {% else %}
                {% include 'django_spire/item/no_data_item.html' %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
