{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
	Notification List
{% endblock %}

{% block card_button %}
    {% url 'notification:page:form' pk=0 as new_placeholder_url %}
	{% include 'django_spire/button/primary_dark_button.html' with button_text='Add' button_icon='bi bi-plus' button_href=new_placeholder_url %}
{% endblock %}

{% block card_title_content %}
	{% for placeholder in placeholders %}
		{% include 'placeholder/item/placeholder_item.html' %}
    {% empty %}
        {% include 'django_spire/item/no_data_item.html' %}
    {% endfor %}
{% endblock %}
