{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Statistics
{% endblock %}

{% block card_button %}
    {% if perms.domain_statistic.add_statistic %}
        {% url 'metric:domain:statistic:form:create' as new_statistic_url %}
        {% include 'django_spire/button/primary_dark_button.html' with button_text='Add' button_icon='bi bi-plus' button_href=new_statistic_url %}
    {% endif %}
{% endblock %}

{% block card_title_content %}
    {% include 'metric/domain/statistic/container/list_container.html' with endpoint=statistic_items_endpoint %}
{% endblock %}
