{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
    Statistics
{% endblock %}

{% block card_button %}
    {% if perms.domain_statistic.add_statistic %}
        {% url 'metric:domain:statistic:form:create' as new_statistic_url %}
        <a class="btn btn-sm btn-primary" href="{{ new_statistic_url }}">
            <i class="bi bi-plus"></i>
            Add
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        {% include 'django_spire/metric/domain/statistic/table/table.html' with endpoint=statistic_items_endpoint %}
    </div>
{% endblock %}
