<i
    class="bi bi-chevron-down cursor-pointer"
    :class="collection.show_children ? 'bi-chevron-down' : 'bi-chevron-right'"
    @click="collection.toggle_show_children({value: !collection.show_children})"
></i>
<i :class="collection.show_children ? 'bi bi-folder2-open' : 'bi bi-folder'"></i>
<a
    {% if AuthController.knowledge.can_view %}
        @dblclick="window.location.href = '{% url "django_spire:knowledge:collection:page:detail" pk=0 %}'.replace(0, collection.id)"
        @click.prevent
        class="cursor-pointer text-black"
    {% endif %}
    @contextmenu.prevent="show_menu({event: $event, collection_id: collection.id})"
    :class="collection.id === {{ collection.pk }} ? 'text-app-accent' : ''"
    x-text="collection.name"
>
</a>



