.test-compilation-verification {
    color: $test-primary;
    background-color: $test-secondary;
}

.test-class-from-external {
    border: 1px solid $test-primary;
}

.test-selector {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}