{% extends 'django_spire/modal/modal.html' %}

{% block modal_trigger %}
    <a class="btn btn-sm btn-primary btn-sm" href="#">
    Publish
</a>
{% endblock %}

{% block modal_content %}
	<form
        class="row text-center"
        method="post"
        action="{% url 'django_spire:knowledge:entry:version:redirect:publish' pk=entry.current_version_id %}"
    >
        {% csrf_token %}
        <div class="col-12">
            Are you sure you want to publish {{ entry }}?
        </div>
        <div class="col-12 mt-2">
            {% include 'django_spire/form/button/submit_button.html' with button_text='Publish' %}
        </div>
    </form>
{% endblock %}
