{% extends 'django_spire/filtering/form/base_session_filter_form.html' %}

{% block session_filter_key %}{{ filter_session.session_key }}{% endblock %}

{% block filter_content %}
    <div
        class="row g-2"
        x-data="{
            async init() {
                this.search.set_attribute('placeholder', 'Search...')

                this.task.glue_fields.name.required = false
                this.task.name = '{{ filter_session.name|default:"" }}'

                this.task.glue_fields.status.required = false
                this.task.status = '{{ filter_session.status|default:"" }}'

                this.users.choices = await this.user_queryset.to_choices()
                this.users.value = '{{ filter_session.users|default:"" }}'

                this.users.required = false

            },
            task: new ModelObjectGlue('task'),
            user_queryset: new QuerySetGlue('users'),
            users: new GlueCharField('users'),
            search: new GlueCharField(
                'search',
                {
                    value: '{{ filter_session.search|default:"" }}',
                    label: 'Search',
                    name: 'search',
                }
            ),
        }"
    >
        <div class="col-4">
            {% include 'django_glue/form/field/char_field.html' with glue_field='search' %}
        </div>
        <div class="col-4">
            {% include 'django_glue/form/field/char_field.html' with glue_model_field='task.name' %}
        </div>
        <div class="col-4">
            {% include 'django_glue/form/field/select_field.html' with glue_model_field='task.status' %}
        </div>
        <div class="col-4">
            {% include 'django_glue/form/field/multi_select_field.html' with glue_field='users' %}
        </div>
    </div>
{% endblock %}