<div
    x-data="{
        current_page: 1,
        total_pages: 0,
        _pages: [],
        errors: {},
        wizard_id: '{% block wizard_id %}{% endblock %}',

        async init() {
            this._pages = [...this.$refs.wizard_body.querySelectorAll('.wizard-page')];
            this.total_pages = this._pages.length;
            this.current_page = Math.min(Math.max(this.current_page, 1), this.total_pages);
            this._sync();
            this.$watch('current_page', () => this._sync());
            {% block wizard_init %}{% endblock %}
        },

        _sync() {
            this._pages.forEach((page, i) => {
                page.style.display = (i + 1 === this.current_page) ? '' : 'none';
            });
        },

        validate_page() {
            return true;
        },

        next_page() {
            if (this.current_page < this.total_pages && this.validate_page()) {
                this.current_page++;
            }
        },

        previous_page() {
            if (this.current_page > 1) {
                this.current_page--;
            }
        },

        {% block wizard_x_data %}{% endblock %}
    }"
>
    {% block wizard_header %}{% endblock %}

    <div class="wizard-body my-4" x-ref="wizard_body">
        {% block wizard_pages %}
        {% endblock %}
    </div>

    {% block wizard_pagination %}
        <div class="wizard-footer d-flex justify-content-between align-items-center pt-4">
            {% block wizard_back_button %}
                <button type="button" class="btn btn-app-secondary" @click="previous_page()" :disabled="current_page === 1">
                    Back
                </button>
            {% endblock %}

            <div class="wizard-page-indicator no-select text-muted">
                {% block wizard_page_indicator %}
                    Page <span x-text="current_page"></span> of <span x-text="total_pages"></span>
                {% endblock %}
            </div>

            {% block wizard_next_button %}
                <template x-if="current_page < total_pages">
                    <button type="button" class="btn btn-app-primary" @click="next_page()">Next</button>
                </template>
            {% endblock %}

            {% block wizard_submit_button %}
                <template x-if="current_page === total_pages">
                    <button type="button" class="btn btn-app-success">Submit</button>
                </template>
            {% endblock %}
        </div>

        {% block wizard_progress_bar %}
            <div class="progress my-2" style="height: 5px;">
                <div
                    class="progress-bar bg-app-primary"
                    :style="{ width: (current_page / total_pages * 100) + '%' }"
                ></div>
            </div>
        {% endblock %}
    {% endblock %}
</div>
