:root {
    --app-black: #212529;
    --app-white: #ffffff;

    --app-light: #f8f9fa;
    --app-dark: #212529;

    --app-secondary: #797e7f;
    --app-secondary-soft: #b7bbbe;
    --app-secondary-dark: #313131;

    --app-primary: #385587;
    --app-primary-soft: #6a8bb8;
    --app-primary-dark: #0e102f;

    --app-success: #00c853;
    --app-success-soft: #b9f6ca;
    --app-success-dark: #007837;

    --app-warning: #f5dd5d;
    --app-warning-soft: #f5dd5d;
    --app-warning-dark: #f5dd5d;

    --app-accent: #ff6d00;
    --app-accent-soft: #ff9e80;
    --app-accent-dark: #b25400;

    --app-danger: #d50000;
    --app-danger-soft: #d50000;
    --app-danger-dark: #d50000;

    --app-purple: #4147BF;

    --app-layer-one: #f8f9fa;
    --app-layer-two: #ebebeb;
    --app-layer-three: #000000;

    --app-side-navigation-bg-color: #F5F5F5;
    --app-mobile-navigation-bg-color: #001720;
}
