html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > .container.my-3 {
    flex: 1;
}

.hover-card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hover-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
