{% extends 'django_spire/card/title_card.html' %}

{% block card_title %}
	Placeholder
{% endblock %}

{% block card_button %}
	{% if perms.placeholder.change_placeholder %}
        {% url 'placeholder:page:form' pk=placeholder.pk as placeholder_edit_url %}
        <a class="btn btn-sm btn-primary" href="{{ placeholder_edit_url }}">
            <i class="bi bi-pencil"></i>
            Edit
        </a>
    {% endif %}
{% endblock %}

{% block card_title_content %}
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <div class="attribute-label">Name</div>
                <div>{{ placeholder.name }}</div>
            </div>

            <div class="col-12">
                <div class="attribute-label">Description</div>
                <div>{{ placeholder.description|linebreaksbr }}</div>
            </div>
        </div>
    </div>
{% endblock %}
