<div class="row g-2 mb-4">
    <div class="col-3">
        <div class="border rounded p-3">
            <span class="sd-chip sd-chip-match">Match</span>
            <div class="sd-mono sd-summary-num mt-2">{{ counts.match }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="border rounded p-3">
            <span class="sd-chip sd-chip-conflict">Conflict</span>
            <div class="sd-mono sd-summary-num mt-2">{{ counts.conflict }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="border rounded p-3">
            <span class="sd-chip sd-chip-local">Tablet Only</span>
            <div class="sd-mono sd-summary-num mt-2">{{ counts.tablet_only }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="border rounded p-3">
            <span class="sd-chip sd-chip-cloud">Cloud Only</span>
            <div class="sd-mono sd-summary-num mt-2">{{ counts.cloud_only }}</div>
        </div>
    </div>
</div>
