{% extends 'theme/card/base_preview_card.html' %}

{% block card_title %}Badges{% endblock %}


{% block card_button %}
    {% url 'theme:page:badges' as badges_url %}
    {% include 'django_spire/button/primary_button.html' with button_text='Full Preview' button_href=badges_url %}
{% endblock %}

{% block preview_card_icon %}bi bi-tag{% endblock %}

{% block preview_card_subtitle %}
    Badge Styles
{% endblock %}

{% block preview_card_description %}
    View all badge types and colors
{% endblock %}

{% block preview_card_content %}
    <span class="badge bg-app-primary me-1">Primary</span>
    <span class="badge bg-app-secondary me-1">Secondary</span>
{% endblock %}