{% if perms.django_spire_metric_report.view_reportrun %}

    {% include 'django_spire/navigation/divider.html' with divider_text='Metrics' %}

{% endif %}

{% if perms.django_spire_metric_report.view_reportrun %}
    {% url 'django_spire:metric:report:page:report' as report_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Reports' link_icon='bi bi-list-columns' link_url=report_url %}
{% endif %}

{% if perms.django_spire_metric_domain.view_domain %}
    {% url 'django_spire:metric:domain:page:list' as domain_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Domains' link_icon='bi bi-collection' link_url=domain_url %}

    {% url 'django_spire:metric:domain:statistic:page:group_list' as statistic_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Statistics' link_icon='bi bi-bar-chart' link_url=statistic_url %}
{% endif %}

{% if perms.django_spire_metric_visual.view_visual %}
    {% url 'django_spire:metric:visual:page:list' as visual_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Visuals' link_icon='bi bi-clipboard-data' link_url=visual_url %}
{% endif %}

{% if perms.django_spire_metric_visual_presentation.view_presentation %}
    {% url 'django_spire:metric:visual:presentation:page:list' as visual_presentation_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Presentations' link_icon='bi bi-easel' link_url=visual_presentation_url %}
{% endif %}

{% if perms.django_spire_metric_visual_signage.view_signage %}
    {% url 'django_spire:metric:visual:signage:page:list' as visual_signage_url %}
    {% include 'django_spire/navigation/link.html' with link_text='Signage' link_icon='bi bi-tv' link_url=visual_signage_url %}
{% endif %}
