{% extends 'django_spire/page/full_page.html' %}

{% load django_spire_pagination %}

{% block full_page_content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="fs-1 fw-semi-bold">Tasks</h1>
        <div>
            <a
                onclick="Spire.modal.dispatchElementById(
                    'task-form-modal-content',
                    {eventData: {glueForm: Glue.model.new_task.form}}
                )"
                class="btn btn-sm btn-primary text-light"
            >
                <i class="bi bi-plus"></i> New Task
            </a>
        </div>
    </div>

    <template id="task-form-modal-content">
        {% include 'task/modal/content/task_form_modal_content.html' with glue_form='eventData.glueForm' %}
    </template>

    {% include 'task/scroll/scroll.html' %}
{% endblock %}
