{% extends 'spire/card/title_card.html' %}

{% block card_title %}
    Tabular Data
{% endblock %}

{% block card_button %}
    {% url 'placeholder:page:form' pk=0 as new_placeholder_url %}
    {% include 'spire/button/primary_dark_button.html' with button_text='Add' button_icon='bi bi-plus' button_href=new_placeholder_url %}
{% endblock %}

{% block card_title_content %}
    <table class="table" x-data="{
        is_row_open: [],
        is_child_row_open: []
    }">

        {% for row in rows %}
            <tr>
                <td>
                    <button @click="is_row_open['{{ row.data.uuid }}'] = !is_row_open['{{ row.data.uuid }}']">
                        +
                    </button>
                </td>
                <td>{{ row.data.uuid }}</td>
                <td class="text-end">{{ row.data.quantity }}</td>
                <td class="text-end">{{ row.data.cost }}</td>
                <td class="text-end">{{ row.data.price }}</td>
                <td class="text-end">{{ row.data.date }}</td>
            </tr>

            {% for child_row in row.child_rows %}
                <tr class="bg-light" x-show="is_row_open['{{ row.data.uuid }}']">
                    <td class="ps-4">
                        <button @click="is_child_row_open['{{ child_row.child_data.uuid }}'] = !is_child_row_open['{{ child_row.child_data.uuid }}']">
                            +
                        </button>
                    </td>
                    <td>{{ child_row.child_data.uuid }}</td>
                    <td class="text-end">{{ child_row.child_data.quantity }}</td>
                    <td class="text-end">{{ child_row.child_data.cost }}</td>
                    <td class="text-end">{{ child_row.child_data.price }}</td>
                    <td class="text-end">{{ child_row.child_data.date }}</td>
                </tr>

                <tr class="bg-danger" x-show="is_child_row_open['{{ child_row.child_data.uuid }}']">
                    <td></td>
                    <td colspan="6">
                        <h1>Flibbity<br>Flobbity<br>Flooooooooo</h1>
                    </td>
                </tr>

            {% endfor %}

        {% endfor %}
    </table>
{% endblock %}
