<div
    x-data="{
        text_value: '{{ version_block.block.value|escapejs }}',
        update_text_value() {
            let response = django_glue_fetch(
                '{% url "django_spire:knowledge:entry:editor:block:json:edit_text" pk=version_block.pk %}',
                {value: this.text_value}
            )

            if (response.status !== 200) {
                $dispatch('error', 'An error occurred while saving the text block.')
            }
        }
    }"
>
    <input
        class="form-control width-100 border-0 bg-transparent px-1"
        type="text"
        x-model="text_value"
        @input.debounce.500ms="update_text_value()"
    />
</div>
