{% extends 'core/card/title_card.html' %}

{% block card_title %}
    Welcome Home
{% endblock %}

{% block card_button %}
    {% include 'core/button/primary_button.html' with button_text='Add' button_icon='bi bi-plus' %}
{% endblock %}

{% block card_title_content %}
    <div class="row g-3">
        <div class="col-12">
            {% include 'core/element/attribute_element.html' with attribute_title='Badges' %}
            {% include 'core/badge/primary_badge.html' with badge_text='Primary' %}
            {% include 'core/badge/accent_badge.html' with badge_text='Accent' %}
            {% include 'core/badge/secondary_badge.html' with badge_text='Secondary' %}
            {% include 'core/badge/danger_badge.html' with badge_text='Danger' %}
            {% include 'core/badge/success_badge.html' with badge_text='Success' %}
            {% include 'core/badge/warning_badge.html' with badge_text='Warning' %}
            {% include 'core/badge/primary_outlined_badge.html' with badge_text='Primary Outlined' %}
            {% include 'core/badge/secondary_outlined_badge.html' with badge_text='Secondary Outlined' %}
        </div>
        <div class="col-12">
            {% include 'core/element/attribute_element.html' with attribute_title='Buttons' %}
            {% include 'core/button/primary_button.html' with button_text='Primary' %}
            {% include 'core/button/primary_dark_button.html' with button_text='Primary Dark' %}
            {% include 'core/button/primary_outlined_button.html' with button_text='Primary Outlined' %}
            {% include 'core/button/secondary_button.html' with button_text='Secondary' %}
            {% include 'core/button/secondary_dark_button.html' with button_text='Secondary Dark' %}
            {% include 'core/button/secondary_outlined_button.html' with button_text='Secondary Outlined' %}
            {% include 'core/button/accent_button.html' with button_text='Accent' %}
            {% include 'core/button/accent_dark_button.html' with button_text='Accent Dark' %}
            {% include 'core/button/accent_outlined_button.html' with button_text='Accent Outlined' %}
            {% include 'core/button/danger_button.html' with button_text='Danger' %}
            {% include 'core/button/danger_dark_button.html' with button_text='Danger Dark' %}
            {% include 'core/button/danger_outlined_button.html' with button_text='Danger Outlined' %}
            {% include 'core/button/success_button.html' with button_text='Success' %}
            {% include 'core/button/success_dark_button.html' with button_text='Success Dark' %}
            {% include 'core/button/success_outlined_button.html' with button_text='Success Outlined' %}
            {% include 'core/button/warning_button.html' with button_text='Warning' %}
            {% include 'core/button/warning_dark_button.html' with button_text='Warning Dark' %}
            {% include 'core/button/warning_outlined_button.html' with button_text='Warning Outlined' %}
        </div>

        <div class="col-12">
            {% include 'core/accordion/accordion.html' %}
        </div>
{% endblock %}