{% extends 'django_spire/item/infinite_scroll_item.html' %}

{% block item_content %}
    <div class="row">
        <div class="col-3">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Name' attribute_value=pirate.firstName|add:' '|add:pirate.lastName %}
        </div>

        <div class="col-3">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Username' attribute_value=pirate.username %}
        </div>

        <div class="col-3">
            {% include 'django_spire/element/attribute_element.html' with attribute_title='Email' attribute_value=pirate.email %}
        </div>
    </div>
{% endblock %}
