{% extends 'django_spire/core/templates/django_spire/infinite_scroll/item.html' %}

{% block item_content %}
    <div class="row">
        <div class="col-3">
            <div class="attribute-label">Name</div>
            <div>{{ pirate.firstName|add:' '|add:pirate.lastName }}</div>
        </div>

        <div class="col-3">
            <div class="attribute-label">Username</div>
            <div>{{ pirate.username }}</div>
        </div>

        <div class="col-3">
            <div class="attribute-label">Email</div>
            <div>{{ pirate.email }}</div>
        </div>
    </div>
{% endblock %}
