{% if task.status == 'new' %}
    {% include 'django_spire/badge/badge.html' with badge_text='New' badge_class='bg-primary text-white' %}
{% elif task.status == 'inp' %}
    {% include 'django_spire/badge/badge.html' with badge_text='In Progress' badge_class='bg-secondary text-white' %}
{% elif task.status == 'com' %}
    {% include 'django_spire/badge/badge.html' with badge_text='Complete' badge_class='bg-success text-white' %}
{% elif task.status == 'can' %}
    {% include 'django_spire/badge/badge.html' with badge_text='Cancelled' badge_class='bg-warning text-white' %}
{% endif %}

