.no-select {
    user-select: none;
}

.w-side-navigation {
    width: var(--app-side-navigation-width);
    background-color: var(--app-side-navigation-bg-color);
    border-right: 1px solid var(--app-layer-two);
}

.w-side-navigation-img {
    width: calc(var(--app-side-navigation-width) - 20px);
}

.w-mobile-navigation {
    width: var(--app-mobile-navigation-width);
    background-color: var(--app-mobile-navigation-bg-color);
    border: 1px solid var(--app-layer-two);
    box-shadow: var(--app-nav-shadow);
}

.w-mobile-navigation-img {
    width: calc(var(--app-mobile-navigation-width) - 20px);
}

.item-select:hover {
    background-color: var(--app-primary);
    cursor: pointer;
}

.item-container:first-child {
    padding-top: 0;
}

.item-container:last-child {
    padding-bottom: 0;
    border: none;
}

.tab-item::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--app-primary);
}
