.text-app-attribute-color,
.text-app-attribute-color-hover:hover {
    color: var(--app-default-attribute-title-color);
}

.text-app-default-link-color,
.text-app-default-link-color:hover {
    color: var(--app-default-link-color);
}

.text-app-default-text-color,
.text-app-default-text-color:hover {
    color: var(--app-default-text-color);
}

.text-app-primary,
.text-app-primary-hover:hover {
    color: var(--app-primary);
}

.text-app-primary-soft,
.text-app-primary-soft-hover:hover {
    color: var(--app-primary-soft);
}

.text-app-primary-dark,
.text-app-primary-dark-hover:hover {
    color: var(--app-primary-dark);
}

.text-app-secondary,
.text-app-secondary-hover:hover {
    color: var(--app-secondary);
}

.text-app-secondary-soft,
.text-app-secondary-soft-hover:hover {
    color: var(--app-secondary-soft);
}

.text-app-secondary-dark,
.text-app-secondary-dark-hover:hover {
    color: var(--app-secondary-dark);
}

.text-app-accent,
.text-app-accent-hover:hover {
    color: var(--app-accent);
}

.text-app-accent-soft,
.text-app-accent-soft-hover:hover {
    color: var(--app-accent-soft);
}

.text-app-accent-dark,
.text-app-accent-dark-hover:hover {
    color: var(--app-accent-dark);
}

.text-app-success,
.text-app-success-hover:hover {
    color: var(--app-success);
}

.text-app-success-soft,
.text-app-success-soft-hover:hover {
    color: var(--app-success-soft);
}

.text-app-success-dark,
.text-app-success-dark-hover:hover {
    color: var(--app-success-dark);
}

.text-app-warning,
.text-app-warning-hover:hover {
    color: var(--app-warning);
}

.text-app-warning-soft,
.text-app-warning-soft-hover:hover {
    color: var(--app-warning-soft);
}

.text-app-warning-dark,
.text-app-warning-dark-hover:hover {
    color: var(--app-warning-dark);
}

.text-app-danger,
.text-app-danger-hover:hover {
    color: var(--app-danger);
}

.text-app-danger-soft,
.text-app-danger-soft-hover:hover {
    color: var(--app-danger-soft);
}

.text-app-danger-dark,
.text-app-danger-dark-hover:hover {
    color: var(--app-danger-dark);
}

.text-app-layer-one,
.text-app-layer-one-hover:hover {
    color: var(--app-layer-one);
}

.text-app-layer-two,
.text-app-layer-two-hover:hover {
    color: var(--app-layer-two);
}

.text-app-layer-three,
.text-app-layer-three-hover:hover {
    color: var(--app-layer-three);
}

.text-app-layer-four,
.text-app-layer-four-hover:hover {
    color: var(--app-layer-four);
}

.text-app-layer-five,
.text-app-layer-five-hover:hover {
    color: var(--app-layer-five);
}

.text-app-light,
.text-app-light-hover:hover {
    color: var(--app-light);
}

.text-app-dark,
.text-app-dark-hover:hover {
    color: var(--app-dark);
}
