.btn {
    position: relative;
    transition: top 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--app-btn-shadow-default);
    border-radius: 8px;
}

.btn:hover {
    top: -1px;
    box-shadow: var(--app-btn-shadow-hover);
}

.btn-app-primary {
    background-color: var(--app-primary);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-primary-dark {
    background-color: var(--app-primary-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-primary-outlined {
    color: var(--app-primary-dark);
    border: 1px solid var(--app-primary-dark);
    background: transparent;
}

.btn-app-secondary {
    background-color: var(--app-secondary);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-secondary-dark {
    background-color: var(--app-secondary-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-secondary-outlined {
    color: var(--app-secondary-dark);
    border: 1px solid var(--app-secondary-dark);
    background: transparent;
}

.btn-app-accent {
    background-color: var(--app-accent);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-accent-dark {
    background-color: var(--app-accent-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-accent-outlined {
    color: var(--app-accent-dark);
    border: 1px solid var(--app-accent-dark);
    background: transparent;
}

.btn-app-success {
    background-color: var(--app-success);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-success-dark {
    background-color: var(--app-success-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-success-outlined {
    color: var(--app-success-dark);
    border: 1px solid var(--app-success-dark);
    background: transparent;
}

.btn-app-warning {
    background-color: var(--app-warning);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-warning-dark {
    background-color: var(--app-warning-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-warning-outlined {
    color: var(--app-warning-dark);
    border: 1px solid var(--app-warning-dark);
    background: transparent;
}

.btn-app-danger {
    background-color: var(--app-danger);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-danger-dark {
    background-color: var(--app-danger-dark);
    color: var(--app-default-button-text-color);
    border: none;
}

.btn-app-danger-outlined {
    color: var(--app-danger-dark);
    border: 1px solid var(--app-danger-dark);
    background: transparent;
}

.btn-app-light {
    background-color: var(--app-light);
    color: var(--app-dark);
    border: none;
}

.btn-app-dark {
    background-color: var(--app-dark);
    color: var(--app-light);
    border: none;
}
