:root {
    --app-text-white: var(--app-white);
    --app-text-black: var(--app-black);

    --app-text-light: var(--app-light);
    --app-text-dark: var(--app-dark);

    --app-text-primary: var(--app-primary);
    --app-text-primary-soft: var(--app-primary-soft);
    --app-text-primary-dark: var(--app-primary-dark);

    --app-text-secondary: var(--app-secondary);
    --app-text-secondary-soft: var(--app-secondary-soft);
    --app-text-secondary-dark: var(--app-secondary-dark);

    --app-text-accent: var(--app-accent);
    --app-text-accent-soft: var(--app-accent-soft);
    --app-text-accent-dark: var(--app-accent-dark);

    --app-text-success: var(--app-success);
    --app-text-success-outlined: var(--app-success-soft);
    --app-text-success-dark: var(--app-success-dark);

    --app-text-warning: var(--app-warning);
    --app-text-warning-soft: var(--app-warning-soft);
    --app-text-warning-dark: var(--app-warning-dark);

    --app-text-danger: var(--app-danger);
    --app-text-danger-soft: var(--app-danger-soft);
    --app-text-danger-dark: var(--app-danger-dark);

    --app-text-layer-one: var(--app-layer-one);
    --app-text-layer-two: var(--app-layer-two);
    --app-text-layer-three: var(--app-layer-three);
    --app-text-layer-four: var(--app-layer-four);
    --app-text-layer-five: var(--app-layer-five);
}


.text-app-attribute-color, .text-app-attribute-color-hover:hover {
    color: var(--app-default-attribute-title-color) !important;
}


.text-app-primary, .text-app-primary-hover:hover {
    color: var(--app-text-primary) !important;
}

.text-app-primary-soft, .text-app-primary-soft-hover:hover {
    color: var(--app-text-primary-soft) !important;
}

.text-app-primary-dark, .text-app-primary-dark-hover:hover {
    color: var(--app-text-primary-dark) !important;
}

.text-app-secondary, .text-app-secondary-hover:hover {
    color: var(--app-text-secondary) !important;
}

.text-app-secondary-soft, .text-app-secondary-soft-hover:hover {
    color: var(--app-text-secondary-soft) !important;
}

.text-app-secondary-dark, .text-app-secondary-dark-hover:hover {
    color: var(--app-text-secondary-dark) !important;
}

.text-app-accent, .text-app-accent-hover:hover {
    color: var(--app-text-accent) !important;
}

.text-app-accent-soft, .text-app-accent-soft-hover:hover {
    color: var(--app-text-accent-soft) !important;
}

.text-app-accent-dark, .text-app-accent-dark-hover:hover {
    color: var(--app-text-accent-dark) !important;
}

.text-app-warning, .text-app-warning-hover:hover {
    color: var(--app-text-warning) !important;
}

.text-app-warning-soft, .text-app-warning-soft-hover:hover {
    color: var(--app-text-warning-soft) !important;
}

.text-app-warning-dark, .text-app-warning-dark-hover:hover {
    color: var(--app-text-warning-dark) !important;
}

.text-app-danger, .text-app-danger-hover:hover {
    color: var(--app-text-danger) !important;
}

.text-app-danger-soft, .text-app-danger-soft-hover:hover {
    color: var(--app-text-danger-soft) !important;
}

.text-app-danger-dark, .text-app-danger-dark-hover:hover {
    color: var(--app-text-danger-dark) !important;
}

.text-app-layer-one, .text-app-layer-one-hover:hover {
    color: var(--app-text-layer-one) !important;
}

.text-app-layer-two, .text-app-layer-one-hover:hover {
    color: var(--app-text-layer-two) !important;
}

.text-app-layer-three, .text-app-layer-three-hover:hover {
    color: var(--app-text-layer-three) !important;
}

.text-app-light, .text-app-light-hover:hover {
    color: var(--app-text-light) !important;
}

.text-app-dark, .text-app-dark-hover:hover {
    color: var(--app-text-dark) !important;
}
