.border-app-primary {
    border-color: var(--app-primary);
}

.border-app-primary-soft {
    border-color: var(--app-primary-soft);
}

.border-app-primary-dark {
    border-color: var(--app-primary-dark);
}

.border-app-secondary {
    border-color: var(--app-secondary);
}

.border-app-secondary-soft {
    border-color: var(--app-secondary-soft);
}

.border-app-secondary-dark {
    border-color: var(--app-secondary-dark);
}

.border-app-accent {
    border-color: var(--app-accent);
}

.border-app-accent-soft {
    border-color: var(--app-accent-soft);
}

.border-app-accent-dark {
    border-color: var(--app-accent-dark);
}

.border-app-success {
    border-color: var(--app-success);
}

.border-app-success-soft {
    border-color: var(--app-success-soft);
}

.border-app-success-dark {
    border-color: var(--app-success-dark);
}

.border-app-warning {
    border-color: var(--app-warning);
}

.border-app-warning-soft {
    border-color: var(--app-warning-soft);
}

.border-app-warning-dark {
    border-color: var(--app-warning-dark);
}

.border-app-danger {
    border-color: var(--app-danger);
}

.border-app-danger-soft {
    border-color: var(--app-danger-soft);
}

.border-app-danger-dark {
    border-color: var(--app-danger-dark);
}

.border-app-layer-one {
    border-color: var(--app-layer-one);
}

.border-app-layer-two {
    border-color: var(--app-layer-two);
}

.border-app-layer-three {
    border-color: var(--app-layer-three);
}

.border-app-light {
    border-color: var(--app-light);
}

.border-app-dark {
    border-color: var(--app-dark);
}
