{% extends 'django_spire/theme/card/base_preview_card.html' %}

{% block card_title %}Buttons{% endblock %}


{% block card_button %}
    {% url 'django_spire:theme:page:buttons' as buttons_url %}
    {% include 'django_spire/button/button.html' with button_text='Full Preview' button_class='btn-app-primary' button_href=buttons_url %}
{% endblock %}

{% block preview_card_icon %}bi bi-hand-index-thumb{% endblock %}

{% block preview_card_subtitle %}
    Button Styles
{% endblock %}

{% block preview_card_description %}
    Explore all button variants and sizes
{% endblock %}

{% block preview_card_content %}
    <div class="preview-sample">
        <div class="mb-2">
            {% include 'django_spire/button/button.html' with button_text='Primary' button_class='btn-app-primary btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Dark' button_class='btn-app-primary-dark btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Outlined' button_class='btn-app-primary-outlined btn-sm' %}
        </div>
        <div class="mb-2">
            {% include 'django_spire/button/button.html' with button_text='Secondary' button_class='btn-app-secondary btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Dark' button_class='btn-app-secondary-dark btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Outlined' button_class='btn-app-secondary-outlined btn-sm' %}
        </div>
        <div>
            {% include 'django_spire/button/button.html' with button_text='Accent' button_class='btn-app-accent btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Dark' button_class='btn-app-accent-dark btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Outlined' button_class='btn-app-accent-outlined btn-sm' %}
        </div>
    </div>
{% endblock %}