{% extends 'django_spire/theme/card/base_preview_card.html' %}

{% block card_title %}Buttons{% endblock %}


{% block card_button %}
    {% url 'django_spire:theme:page:buttons' as buttons_url %}
    {% include 'django_spire/button/button.html' with button_text='Full Preview' button_class='btn-primary' button_href=buttons_url %}
{% endblock %}

{% block preview_card_icon %}bi bi-hand-index-thumb{% endblock %}

{% block preview_card_subtitle %}
    Button Styles
{% endblock %}

{% block preview_card_description %}
    Bootstrap button variants and sizes
{% endblock %}

{% block preview_card_content %}
    <div class="preview-sample">
        <div class="mb-2">
            {% include 'django_spire/button/button.html' with button_text='Primary' button_class='btn-primary btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Secondary' button_class='btn-secondary btn-sm' %}
        </div>
        <div class="mb-2">
            {% include 'django_spire/button/button.html' with button_text='Success' button_class='btn-success btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Danger' button_class='btn-danger btn-sm' %}
        </div>
        <div>
            {% include 'django_spire/button/button.html' with button_text='Outline Primary' button_class='btn-outline-primary btn-sm' %}
            {% include 'django_spire/button/button.html' with button_text='Outline Secondary' button_class='btn-outline-secondary btn-sm' %}
        </div>
    </div>
{% endblock %}