{% extends 'django_spire/theme/card/base_preview_card.html' %}

{% block card_title %}Colors{% endblock %}


{% block card_button %}
    {% url 'django_spire:theme:page:colors' as colors_url %}
    {% include 'django_spire/button/button.html' with button_text='Full Preview' button_class='btn-primary' button_href=colors_url %}
{% endblock %}

{% block preview_card_icon %}bi bi-palette{% endblock %}

{% block preview_card_subtitle %}
    Color Palette
{% endblock %}

{% block preview_card_description %}
    Explore the complete color system
{% endblock %}

{% block preview_card_content %}
    <div class="preview-sample">
        <div class="d-flex flex-wrap">
            <div class="p-2 m-1 bg-primary" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 text-bg-primary" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 bg-secondary" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 text-bg-secondary" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 bg-success" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 bg-warning" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 bg-danger" style="width: 40px; height: 40px;"></div>
            <div class="p-2 m-1 bg-info" style="width: 40px; height: 40px;"></div>
        </div>
    </div>
{% endblock %}
