{% extends 'spire/wizard/wizard_page.html' %}

{% block wizard_page %}
    <div x-show="current_page === 2">
        <h2>Page Two</h2>

        <div class="row g-2 my-4">
            <div class="col-md-6 col-12">
                {% include 'django_glue/form/glue_field/char_field.html' with glue_model_field='test_model.description' %}
            </div>

            <div class="col-md-6 col-12">
                {% include 'django_glue/form/glue_field/char_field.html' with glue_model_field='test_model.personality_type' %}
            </div>
        </div>
    </div>
{% endblock %}
