{% extends 'base/base.html' %}

{% load static %}

{% block example_content %}
    <div class="container-fluid mt-4">
        <div class="text-center mb-5">
            <a href="/" class="d-block">
            </a>
            <img src="{% static 'img/django_spire.svg' %}" width="175" alt="Django Spire Logo">
        </div>
    </div>

    <div class="container my-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mb-3">
            {% for app in apps %}
                {% include 'card/home_card.html' with title=app.title icon_class=app.icon_class url=app.url %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
