{% extends 'base/base.html' %}

{% load static %}

{% block example_content %}
    <div class="container-fluid mt-4">
        <div class="text-center mb-5">
            <a href="/" class="d-block">
            </a>
            <img src="{% static 'img/django_spire.svg' %}" width="175" alt="Django Spire Logo">
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            {% for app in apps %}
                {% if app.heading %}
                    <div class="col-12 mb-3">
                        <h1 class="text-center">{{ app.heading }}</h1>
                    </div>
                {% elif app.title %}
                    <div class="col-12, col-md-3 mb-3">
                        {% include 'card/home_card.html' with title=app.title icon_class=app.icon_class url=app.url %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
