
{% url 'home:page:home' as home_url %}
{% include 'django_spire/navigation/link.html' with link_text='Home' link_icon='bi bi-house-door' link_url=home_url %}

{% include 'django_spire/navigation/divider.html' with divider_text='Tasks' %}

{% url 'task:page:list' as task_url %}
{% include 'django_spire/navigation/link.html' with link_text='Task' link_icon='bi bi-list-task' link_url=task_url %}

{% include 'django_spire/knowledge/navigation/navigation_links.html' with include_ai_chat=True %}

{% url 'ai:home' as ai_home_url %}
{% include 'django_spire/navigation/link.html' with link_text='Ai Home' link_icon='bi bi-robot' link_url=ai_home_url %}

{% include 'django_spire/navigation/divider.html' with divider_text='Examples' %}

{% url 'activity:demo' as activity_demo_url %}
{% include 'django_spire/navigation/link.html' with link_text='Activity' link_icon='bi bi-activity' link_url=activity_demo_url %}

{% url 'showcase:page:form' as showcase_url %}
{% include 'django_spire/navigation/link.html' with link_text='Widget Showcase' link_icon='bi bi-palette' link_url=showcase_url %}

{% url 'celery:home' as celery_url %}
{% include 'django_spire/navigation/link.html' with link_text='Celery' link_icon='bi bi-ui-checks' link_url=celery_url %}

{% url 'comment:page:home' as comment_url %}
{% include 'django_spire/navigation/link.html' with link_text='Comment' link_icon='bi bi-chat-text' link_url=comment_url %}

{% url 'file:page:list' as file_url %}
{% include 'django_spire/navigation/link.html' with link_text='File' link_icon='bi bi-file-earmark' link_url=file_url %}

{% url 'help_desk:home' as help_desk_url %}
{% include 'django_spire/navigation/link.html' with link_text='Help Desk' link_icon='bi bi-headset' link_url=help_desk_url %}
{% url 'history:home' as history_url %}
{% include 'django_spire/navigation/link.html' with link_text='History' link_icon='bi bi-clock-history' link_url=history_url %}

{% url 'order:list' as ordering_url %}
{% include 'django_spire/navigation/link.html' with link_text='Ordering' link_icon='bi bi-list-ol' link_url=ordering_url %}

{% url 'notification:page:list' as notification_url %}
{% include 'django_spire/navigation/link.html' with link_text='Notification' link_icon='bi bi-bell' link_url=notification_url %}

{% url 'auth_sms:page:phone_verification' as auth_sms_url %}
{% include 'django_spire/navigation/link.html' with link_text='Phone Verification' link_icon='bi bi-phone-fill' link_url=auth_sms_url %}

{% include 'django_spire/navigation/divider.html' with divider_text='Rest API' %}

{% url 'rest:page:list' as rest_url %}
{% include 'django_spire/navigation/link.html' with link_text='Rest Clients' link_icon='bi bi-arrow-down-up' link_url=rest_url %}

{% url 'django_spire:api:page:list' as api_list_url %}
{% include 'django_spire/navigation/link.html' with link_text='API Access' link_icon='bi bi-key' link_url=api_list_url %}

{% include 'django_spire/metric/navigation/navigation_links.html' %}

{% include 'django_spire/navigation/divider.html' with divider_text='Configuration' %}

{% include 'django_spire/auth/group/navigation/accordion/permission_nav_accordion.html' %}
