{% extends 'django_spire/page/form_full_page.html' %}

{% block full_page_content %}
    <div class="row g-3">
        <div class="col-12">
            {% include '${template_directory_path}/card/${form_card_template_name}.html' %}
        </div>
    </div>
{% endblock %}
