<div class="row g-2">
    <div class="col-12 col-md-6">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Name' attribute_value=infinite_scrolling.name %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Created' attribute_value=infinite_scrolling.created_datetime|date:"M d, Y g:i A" %}
    </div>
    <div class="col-12">
        {% include 'django_spire/element/attribute_element.html' with attribute_title='Description' attribute_value=infinite_scrolling.description|linebreaksbr %}
    </div>
</div>
