{% extends 'django_spire/form/editable/elements/base_field.html' %}

{% block validation %}
{% endblock %}

{% block field %}
    <select
        x-model="temp_value"
        x-ref="edit_field"
        @change="save()"
        @keydown.escape="cancel()"
        @blur="save()"
        class="form-select {% block input_class %}{% endblock %}"
        {% block input_attributes %}{% endblock %}
    >
        {% block select_options %}
            <option value="">Select an option...</option>

            {% for choice in choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
        {% endblock %}
    </select>
{% endblock %}
