{% extends 'django_spire/container/container.html' %}

{% block container_title %}
    <div class="ps-3">
        {{ entry.name }}
    </div>
{% endblock %}

{% block container_content %}
    <div
        x-data="{
            first_load: true,
            init() {
                this.manager = new EntryVersionManager({
                    id: {{ current_version.pk }},
                    version_blocks_json: {{ version_blocks_json }}
                })
            },
            async create_blank_block({block_type, order}) {
                let response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:entry:version:json:create_blank_block" pk=current_version.pk %}',
                    {payload: {block_type: block_type, order: order}},
                )
                if (response.type === 'error') {
                    $dispatch('notify', {type:'error', message: response.message})
                } else {
                    let block_data = JSON.parse(response.entry_version_block_json)
                    this.manager.insert_blank_block(
                        {
                            id: block_data.id,
                            block_type: block_data.type,
                            order: block_data.order,
                            update_template_rendered: block_data.block.update_template_rendered
                        }
                    )
                }
            },
            async delete_block({version_block_id}) {
                let response = await django_glue_fetch(
                    '{% url "django_spire:knowledge:entry:version:json:delete_block" pk=current_version.pk %}',
                    {payload: {version_block_pk: version_block_id}},
                )
                if (response.type === 'error') {
                    $dispatch('notify', {type: 'error', message: response.message})
                } else {
                    this.manager.delete_block({id: version_block_id})
                }
            },
            async reorder_block({block, order}){
                let response = null
                console.log(order)
                try {
                    response = await django_glue_fetch(
                        '{% url "django_spire:knowledge:entry:version:json:reorder" pk=current_version.pk %}',
                        { payload: {'block_id': block, 'order': order} }
                    )
                } catch (e) {
                    window.location.reload()
                }

                console.log(response)

                if (response.type == 'error') {
                    $dispatch('notify', {'type': response.type, 'message': response.message})
                }
            }
        }"
        x-sort="await reorder_block({block: $item, order: $position})"
    >
        <template x-for="(version_block, index) in manager.entry_version.version_blocks" :key="version_block.id">
            <div class="row align-items-center" x-sort:item="version_block.id">
                <i style="cursor: grab" x-sort:handle class="col-auto bi bi-grip-vertical p-0 align-self-center"></i>
                <div
                    class="col-auto pe-0"
                    :class="manager.block_order_focus === version_block.order ? 'opacity-100' : 'opacity-0'"
                >
                    {% include 'django_spire/knowledge/entry/version/block/dropdown/add_dropdown.html' %}
                </div>
                <div class="col"
                     x-html="version_block.block.update_template_rendered">
                </div>
            </div>
        </template>
    </div>
{% endblock %}
