{% load static %}

<div class="row mb-3">
    <div class="col-12">
        <nav class="navbar navbar-light bg-app-side-bar shadow-sm">
            <div class="container-fluid justify-content-between">
                <a href="/" class="navbar-brand">
                    <img src="{% static 'img/django_spire.svg' %}" alt="Django Spire Logo" width="50" class="d-inline-block align-middle">
                </a>

                <div class="d-flex flex-grow-1 justify-content-center">
                    <a href="/" class="text-light text-center fs-5">
                        <span class="fw-bold">Django Spire: {% block title %}{{ title|default:"Default Title" }}{% endblock %}</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
