<div
    x-data="{
        endpoint: '{{ endpoint }}',
        child_endpoint: '{{ child_endpoint|default:'' }}',
        shared_payload: {},
        page_size: parseInt('{{ page_size|default:25 }}'),
        current_page: parseInt('{{ current_page|default:0 }}'),
        has_next: {{ has_next|default:'true'|yesno:'true,false' }},
        total_count: parseInt('{{ total_count|default:0 }}'),
        loaded_count: 0,
        is_loading: false,
        is_refreshing: false,
        observer: null,

        column_count: 0,
        skeleton_count: 0,
        skeleton_row: parseInt('{{ page_size|default:25 }}'),

        is_row_open: {},
        is_child_row_loading: {},
        child_rows: {},
        selected_rows: new Set(),
        sort_column: {% if sort_column %}'{{ sort_column }}'{% else %}null{% endif %},
        sort_direction: '{{ sort_direction|default:'asc' }}',
        search_term: '',
        select_all: false,

        {% include 'django_spire/table/element/methods.html' %}

        {% block table_xdata %}{% endblock %}
    }"
>
    {{ shared_payload|json_script:'shared_payload' }}

    {% block table_toolbar %}
        {% include 'django_spire/table/element/toolbar.html' %}
    {% endblock %}

    {% block table_container %}
        <div
            x-ref="table_container"
            class="table-container position-relative"
            style="max-height: {{ table_height|default:'600px' }}; overflow-y: auto; overscroll-behavior: contain;"
        >
            <table class="table table-hover fs-7 {% block table_class %}{% endblock %}">
                <thead class="{% block table_head_class %}bg-app-layer-two sticky-top{% endblock %}" x-ref="table_head">
                    <tr>
                        {% block table_header %}
                            {% include 'django_spire/table/element/header.html' %}
                        {% endblock %}
                    </tr>
                </thead>

                {# Upon page loading or sorting by a column #}
                {% include 'django_spire/table/element/refreshing_skeleton.html' %}

                <tbody x-ref="table_body" x-show="!is_refreshing">
                    {% block table_body %}
                    {% endblock %}
                </tbody>

                {# Upon scrolling and loading more information #}
                {% include 'django_spire/table/element/loading_skeleton.html' %}
            </table>

            {% block trigger %}
                {% include 'django_spire/table/element/trigger.html' %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block table_footer %}
        {% include 'django_spire/table/element/footer.html' %}
    {% endblock %}
</div>
