{% extends 'django_spire/dropdown/dropdown.html' %}

{% block dropdown_position %}end-0 top-100{% endblock %}

{% block dropdown_trigger %}
    <span class="bi bi-three-dots-vertical"></span>
{% endblock %}

{% block dropdown_content %}
    {% if recent_chat %}
        <li>
            <a
                class="dropdown-item text-start"
                href="#"
                @click.prevent="enable_rename_chat();"
            >
                Rename
            </a>
        </li>

        {% url 'django_spire:ai:chat:template:confirm_delete' pk=recent_chat.id as delete_url %}
        <li>
            <a
                class="dropdown-item text-start text-app-danger"
                href="#"
                @click.prevent="Spire.modal.dispatchView('{{ delete_url }}')"
            >
                Delete
            </a>
        </li>
    {% endif %}
{% endblock %}
