<div
    class="row"
    x-data="{
        import_file_form: Glue.form.import_file_form,
        support_file_types: {{ supported_file_types }},
        is_processing: false,

        init() {
            $watch('import_file_form.$fields.import_files.value', (files) => {
                if (!files) return;

                let sendWarning = files.some(
                    file => !this.support_file_types.some(supported => file.name.endsWith(supported))
                )

                if (sendWarning) {
                    Spire.notify.warning('Unsupported file type detected.');
                }
            })
        },
        async submit_form() {
            this.is_processing = true;
            let result = await this.import_file_form.save_model_obj()
            if(result?.redirect) {
                window.location.href=result.redirect.url
            }
            this.is_processing = false
        }
    }"
>
    <div class="col-12 mt-2">
        <div class="d-flex justify-content-between">
            <span>
                Files
            </span>
            <span class="fs--1">*Supported file types: {{ supported_file_types_verbose }}</span>
        </div>
        {% include 'django_spire/file/form/field/multi_file_field.html' with glue_field='import_file_form.$fields.import_files' accept=supported_file_types_verbose disable_camera=True %}
    </div>
    <div class="col-12 mt-2">
        {% include 'django_spire/glue/form/button/submit_button.html' %}
    </div>
</div>