<form
    class="row"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'django_spire:knowledge:entry:form:import' collection_pk=collection_pk|default:0 %}"
    x-data="{
        import_file_form: Glue.form.import_file_form,
        support_file_types: {{ supported_file_types }},

        async init() {
            $watch('import_file_form.$fields.import_files.value', () => {
                let files = JSON.parse(this.import_file_form.$fields.import_files.value)

                let send_warning = files.some(
                    file => !this.support_file_types.some(
                        supported => file.name.endsWith(supported)
                    )
                )

                if (send_warning) {
                    $dispatch('notify', {type: 'warning', message: 'Unsupported file type detected.'})
                }
            })
        }
    }"
>
    {% csrf_token %}
    <div class="col-12 mt-2">
        <div class="d-flex justify-content-between">
            <span>
                Files
            </span>
            <span class="fs--1">*Supported file types: {{ supported_file_types_verbose }}</span>
        </div>
        {% include 'django_spire/file/form/field/multi_file_field.html' with glue_field='import_file_form.$fields.import_files' accept=supported_file_types_verbose disable_camera=True %}
    </div>
    <div class="col-12 mt-2">
        {% include 'django_spire/form/button/submit_button.html' %}
    </div>
</form>
