name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r development_requirements.txt
          pip install -r production_requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$(pwd):$(pwd)/django-spire" >> $GITHUB_ENV

      - name: Run Tests
        env:
          OLLAMA_HOST: ${{ secrets.OLLAMA_HOST }}
          OLLAMA_PORT: ${{ secrets.OLLAMA_PORT }}
          OLLAMA_API_KEY: ${{ secrets.OLLAMA_API_KEY }}
          PYTHONPATH: ${{ env.PYTHONPATH  }}
          DANDY_SETTINGS_MODULE: ${{ secrets.DANDY_SETTINGS_MODULE }}
          TWILIO_SMS_BATCH_SIZE: 100
        run: |
          python manage.py test . --settings=test_project.settings 
