name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      max-parallel: 1
      matrix:
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[development,documentation]

      - name: Run tests
        env:
          OLLAMA_HOST: ${{ secrets.OLLAMA_HOST }}
          OLLAMA_PORT: ${{ secrets.OLLAMA_PORT }}
          OLLAMA_API_KEY: ${{ secrets.OLLAMA_API_KEY }}
          OPENAI_HOST: ${{ secrets.OPENAI_HOST }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          DANDY_SETTINGS_MODULE: ${{ secrets.DANDY_SETTINGS_MODULE }}
        run: |
          python manage.py test . --settings=test_project.sqlite_settings
        timeout-minutes: 10
